/*scalable for desktops and larger screen*/
@media(min-width:1536px){
    html{
        font-size: 14px;
    }
    #aboutme{
        position: relative;
        display: flex;
        width: 100%;
        max-width: 85%;
        height: 650px;
        border-radius: 5px;
        margin: auto;
        border:none;
        background-color: white;
    }
    #aboutme a{
        position: relative;
        left:19%;
        top:10%;
        font-weight: 800;
        font-size:1.2rem;
    }
    #img{
        position:relative;
        top:10%;
        width: 100%;
        max-width: 30%;
        height: 76%;
        background-color:rgba(157, 203, 224, 0.8);
    }
    #img img{
        position: relative;
        top:-14%;
        left:-3%;
        width: 110%;
        max-width: 110%;
        height: 114%;
    }
    #me{
        position:relative;
        display: block;
        width: 100%;
        max-width: 70%;
        height: 100%;
    }
    #mehead{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: 12.7%;
        top:7%;
        padding:5px;
        left:4%;
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: 5%;
        border-bottom: 3px solid rgb(19, 89, 241);
    }
    #headingme{
        position: relative;
        left:4%;
        top:4%;
        width: 100%;
        max-width: 95%;
        font-weight: 700;
        font-size: 1.4rem;
        color:rgb(19, 89, 241);
    }
    #bodyme{
        position: relative;
        left:4%;
        top:4%;
        width: 100%;
        max-width: 95%;
        font-size: 1.1rem;
        line-height: 35px;
        text-align: justify;
    }
    #demo{
        position: relative;
        display: flex;
        top:5%;
        left:3.5%;
        width: 100%;
        max-width: 90%;
        height:15%;
        border-bottom: 2px solid black;
        background-color: rgb(212, 212, 212, 0.1);
    }
    #demo div{
        position: relative;
        display: block;
        top:5%;
        left:1%;
        width: 100%;
        max-width: 50%;
        height:100%;
    }
    .bxs-envelope, .bx-current-location, .bxs-phone-call, .bx-calendar{
        position:relative;
        top:10%;
        left:0%;
        font-size: 1.7rem;
        margin-right: 5px;
    }
   h1{
    position: relative;
    top: -12px;
    color:grey;
    margin-right: 7px;
   }
    .democol1{
        position: relative;
        display: flex;
        width:100%;
        max-width: 100%;
        height:50%;
    }
    .democol1 p{
        position: relative;
        top:-6.5px;
    }
    .democol2{
        position: relative;
        display: flex;
        width:100%;
        max-width: 100%;
        height:50%;
    }
    .democol2 p{
        position: relative;
        top:-6.5px;
    }
    #resume{
        text-align: center;
        color: black;
    }
}
@media(min-width:1280px) and (max-width:1535px){
    html{
        font-size: 14px;
    }
    #aboutme{
        position: relative;
        display: flex;
        width: 100%;
        max-width: 90%;
        height: 650px;
        border-radius: 5px;
        margin: auto;
        border:none;
        background-color: white;
    }
    #aboutme a{
        position: relative;
        left:19%;
        top:10%;
        font-weight: 800;
        font-size:1.2rem;
    }
    #img{
        position:relative;
        top:10%;
        width: 100%;
        max-width: 30%;
        height: 76%;
        background-color:rgba(157, 203, 224, 0.8);
    }
    #img img{
        position: relative;
        top:-14%;
        left:-3%;
        width: 110%;
        max-width: 110%;
        height: 114%;
    }
    #me{
        position:relative;
        display: block;
        width: 100%;
        max-width: 70%;
        height: 100%;
    }
    #mehead{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: 12.7%;
        top:7%;
        padding:5px;
        left:4%;
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: 5%;
        border-bottom: 3px solid rgb(19, 89, 241);
    }
    #headingme{
        position: relative;
        left:4%;
        top:4%;
        width: 100%;
        max-width: 95%;
        font-weight: 700;
        font-size: 1.4rem;
        color:rgb(19, 89, 241);
    }
    #bodyme{
        position: relative;
        left:4%;
        top:4%;
        width: 100%;
        max-width: 95%;
        font-size: 1.1rem;
        line-height: 35px;
        text-align: justify;
    }
    #demo{
        position: relative;
        display: flex;
        top:5%;
        left:3.5%;
        width: 100%;
        max-width: 90%;
        height:15%;
        border-bottom: 2px solid black;
        background-color: rgb(212, 212, 212, 0.1);
    }
    #demo div{
        position: relative;
        display: block;
        top:5%;
        left:1%;
        width: 100%;
        max-width: 50%;
        height:100%;
    }
    .bxs-envelope, .bx-current-location, .bxs-phone-call, .bx-calendar{
        position:relative;
        top:10%;
        left:0%;
        font-size: 1.7rem;
        margin-right: 5px;
    }
   h1{
    position: relative;
    top: -12px;
    color:grey;
    margin-right: 7px;
   }
    .democol1{
        position: relative;
        display: flex;
        width:100%;
        max-width: 100%;
        height:50%;
    }
    .democol1 p{
        position: relative;
        top:-6.5px;
    }
    .democol2{
        position: relative;
        display: flex;
        width:100%;
        max-width: 100%;
        height:50%;
    }
    .democol2 p{
        position: relative;
        top:-6.5px;
    }
    #resume{
        text-align: center;
        color: black;
    }
}
@media(min-width:1024px) and (max-width:1279px){
    html{
        font-size: 14px;
    }
    #aboutme{
        position: relative;
        display: flex;
        width: 100%;
        max-width: 100%;
        height: 650px;
        border-radius: 5px;
        border:none;
        background-color: white;
    }
    #aboutme a{
        position: relative;
        left:19%;
        top:10%;
        font-weight: 800;
        font-size:1.2rem;
    }
    #img{
        position:relative;
        top:10%;
        width: 100%;
        max-width: 30%;
        height: 76%;
        background-color:rgba(157, 203, 224, 0.8);
    }
    #img img{
        position: relative;
        top:-14%;
        left:-3%;
        width: 110%;
        max-width: 110%;
        height: 114%;
    }
    #me{
        position:relative;
        display: block;
        width: 100%;
        max-width: 70%;
        height: 100%;
    }
    #mehead{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: 12.7%;
        top:7%;
        padding:5px;
        left:4%;
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: 5%;
        border-bottom: 3px solid rgb(19, 89, 241);
    }
    #headingme{
        position: relative;
        left:4%;
        top:4%;
        width: 100%;
        max-width: 95%;
        font-weight: 700;
        font-size: 1.4rem;
        color:rgb(19, 89, 241);
    }
    #bodyme{
        position: relative;
        left:4%;
        top:4%;
        width: 100%;
        max-width: 95%;
        font-size: 1.1rem;
        line-height: 35px;
        text-align: justify;
    }
    #demo{
        position: relative;
        display: flex;
        top:5%;
        left:3.5%;
        width: 100%;
        max-width: 90%;
        height:15%;
        border-bottom: 2px solid black;
        background-color: rgb(212, 212, 212, 0.1);
    }
    #demo div{
        position: relative;
        display: block;
        top:5%;
        left:1%;
        width: 100%;
        max-width: 50%;
        height:100%;
    }
    .bxs-envelope, .bx-current-location, .bxs-phone-call, .bx-calendar{
        position:relative;
        top:10%;
        left:0%;
        font-size: 1.7rem;
        margin-right: 5px;
    }
   h1{
    position: relative;
    top: -12px;
    color:grey;
    margin-right: 7px;
   }
    .democol1{
        position: relative;
        display: flex;
        width:100%;
        max-width: 100%;
        height:50%;
    }
    .democol1 p{
        position: relative;
        top:-6.5px;
    }
    .democol2{
        position: relative;
        display: flex;
        width:100%;
        max-width: 100%;
        height:50%;
    }
    .democol2 p{
        position: relative;
        top:-6.5px;
    }
    #resume{
        text-align: center;
        color: black;
    }
}
@media(max-width:1063px) and (min-width:1024px){
    #img{
        height: 80%;
    }
}
@media(max-width:1023px) and (min-width:769px){
    html{
        font-size: 14px;
    }
    #aboutme{
        position: relative;
        display: flex;
        width: 100%;
        max-width: 100%;
        height: 700px;
        border:none;
        background-color: white;
    }
    #aboutme a{
        position: relative;
        left:14%;
        top:10%;
        font-weight: 800;
        font-size:1.2rem;
    }
    #img{
        position:relative;
        top:10%;
        width: 100%;
        max-width: 30%;
        height: 65%;
        background-color:rgba(157, 203, 224, 0.8);
        margin-left: 1%;
    }
    #img img{
        position: relative;
        top:-14%;
        left:-8%;
        width: 120%;
        max-width: 120%;
        height: 114%;
    }
    #me{
        position:relative;
        display: block;
        width: 100%;
        max-width: 100%;
        height: 100%;
    }
    #mehead{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: 13%;
        top:7%;
        padding:5px;
        left:4%;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 5%;
        border-bottom: 3px solid rgb(19, 89, 241);
    }
    #headingme{
        position: relative;
        left:4%;
        top:4%;
        width: 100%;
        max-width: 95%;
        font-weight: 700;
        font-size: 1.2rem;
        color:rgb(19, 89, 241);
    }
    #bodyme{
        position: relative;
        left:4%;
        top:4%;
        width: 100%;
        max-width: 95%;
        font-size: 1rem;
        line-height: 35px;
        text-align: justify;
    }
    #demo{
        position: relative;
        display: flex;
        top:5%;
        left:3.5%;
        width: 100%;
        max-width: 100%;
        height:15%;
        border-bottom: 2px solid black;
        background-color: rgb(212, 212, 212, 0.1);
    }
    #demo div{
        position: relative;
        display: block;
        top:5%;
        left:1%;
        width: 100%;
        max-width: 50%;
        height:100%;
    }
    .bxs-envelope, .bx-current-location, .bxs-phone-call, .bx-calendar{
        position:relative;
        top:10%;
        left:0%;
        font-size: 1.4rem;
        margin-right: 5px;
    }
   h1{
    position: relative;
    top: -12px;
    color:grey;
    margin-right: 7px;
   }
    .democol1{
        position: relative;
        display: flex;
        width:100%;
        max-width: 100%;
        height:50%;
    }
    .democol1 p{
        position: relative;
        top:-6.5px;
        font-size: 0.9rem;
    }
    .democol2{
        position: relative;
        display: flex;
        width:100%;
        max-width: 100%;
        height:50%;
    }
    .democol2 p{
        position: relative;
        top:-6.5px;
    }
    #resume{
        color: black;
    }
}
@media(max-width:908px) and (min-width:840px){
    #img{
        height: 69%;
    }
}
@media(max-width:837px) and (min-width:768px){
    #img{
        height: 79%;
    }
}
@media(min-width:811px) and (max-width:838px){
    #img{
        height: 72%;
    }
}


/*scalable for mobile screens and tablets*/
@media(max-width:768px) and (min-width:519px){
    html{
        font-size: 14px;
    }
    #aboutme{
        position: relative;
        display: block;
        width: 100%;
        max-width: 100%;
        height: 1000px;
        border:none;
    }
    #aboutme a{
        position: relative;
        left:39%;
        top:5%;
        font-weight: 800;
        font-size:1.1rem;
        color: black;
        text-decoration: none;
    }
    #img{
        position:relative;
        top:2%;
        width: 100%;
        max-width: 48%;
        height: 40%;
        margin:auto;
        background-color: #b0d5e6;

    }
    #img img{
        position: relative;
        top:-10%;
        left:-4%;
        width: 110%;
        max-width: 110%;
        height: 110%;
    }
    #me{
        position:relative;
        display: block;
        width: 100%;
        max-width: 100%;
        height: 55%;
    }
    #mehead{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: 14%;
        top:6%;
        padding:5px;
        font-size: 1rem;
        font-weight: 700;
        margin:auto;
        margin-bottom: 8%;
        border-bottom: 3px solid rgb(19, 89, 241);
    }
    #headingme{
        position: relative;
        top:1%;
        text-align: center;
        width: 100%;
        max-width: 95%;
        font-weight: 700;
        font-size: 1.4rem;
        margin:auto;
        color:rgb(19, 89, 241);
    }
    #bodyme{
        position: relative;
        top:2%;
        width: 100%;
        max-width: 95%;
        margin:auto;
        font-size: .9rem;
        line-height: 35px;
        text-align: justify;
    }
    #demo{
        position: relative;
        display: flex;
        top:5%;
        width: 100%;
        max-width: 95%;
        margin:auto;
        height:20%;
    }
    #demo div{
        position: relative;
        display: block;
        top:5%;
        width: 100%;
        max-width:100%;
        height:50%;
    }
    .bxs-envelope, .bx-calendar{
        position:relative;
        top:25%;
        left:0%;
        font-size: 1.4rem;
        margin-right: 5px;
    }
    .bx-current-location, .bxs-phone-call{
        position:relative;
        top:25%;
        left:3%;
        font-size: 1.4rem;
        margin-right: 15px;
    }
   h1{
    position: relative;
    top: -12px;
    color:grey;
    margin-right: 7px;
   }
    .democol1{
        position: relative;
        display: flex;
        width:100%;
        max-width: 100%;
        height:50%;
    }
    .democol1 p{
        position: relative;
        top:-6.5px;
        font-size: 0.9rem;
    }
    .democol2{
        position: relative;
        display: flex;
        width:100%;
        max-width: 100%;
        height:50%;
    }
    .democol2 p{
        position: relative;
        top:-6px;
    }
}
@media(max-width:540px) and (min-width:519px){
    #aboutme a{
        position: relative;
        left:35%;
        top:5%;
        font-weight: 800;
        font-size:1.1rem;
        color: black;
        text-decoration: none;
    }
}
@media(max-width:520px) and (min-width:390px){
    html{
        font-size: 14px;
    }
    #aboutme{
        position: relative;
        display: block;
        width: 100%;
        max-width: 100%;
        height: 1300px;
        border:none;
    }
    #aboutme a{
        position: relative;
        left:34%;
        top:10%;
        font-weight: 800;
        font-size:1.2rem;
        color:black;
    }
    #img{
        position:relative;
        top:2%;
        width: 100%;
        max-width: 50%;
        height: 30%;
        margin:auto;
        background-color: #b0d5e6;
    }
    #img img{
        position: relative;
        top:-10%;
        left:4%;
        width: 100%;
        max-width: 95%;
        height: 110%;
    }
    #me{
        position:relative;
        display: block;
        width: 100%;
        max-width: 100%;
        height: 76%;
    }
    #mehead{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: 16%;
        top:4%;
        padding:5px;
        font-size: 1rem;
        font-weight: 700;
        margin:auto;
        margin-bottom: 8%;
        border-bottom: 3px solid rgb(19, 89, 241);
    }
    #headingme{
        position: relative;
        top:2%;
        left:2%;
        text-align: center;
        width: 100%;
        max-width: 95%;
        font-weight: 700;
        font-size: 1.2rem;
        margin:auto;
        color:rgb(19, 89, 241);
    }
    #bodyme{
        position: relative;
        top:4%;
        width: 100%;
        max-width: 85%;
        margin:auto;
        font-size: .9rem;
        line-height: 35px;
        text-align: justify;
    }
    #demo{
        position: relative;
        display: block;
        left:2%;
        top:5%;
        width: 100%;
        max-width: 90%;
        margin:auto;
        height:20%;
    }
    #demo div{
        position: relative;
        display: block;
        top:5%;
        width: 100%;
        max-width:100%;
        height:50%;
    }
    .bxs-envelope, .bx-current-location, .bxs-phone-call, .bx-calendar{
        position:relative;
        top:10%;
        left:0%;
        font-size: 1.4rem;
        margin-right: 5px;
    }
   h1{
    position: relative;
    top: -12px;
    color:grey;
    margin-right: 7px;
   }
    .democol1{
        position: relative;
        display: flex;
        width:100%;
        max-width: 100%;
        height:50%;
    }
    .democol1 p{
        position: relative;
        top:-6.5px;
        font-size: 0.9rem;
    }
    .democol2{
        position: relative;
        display: flex;
        width:100%;
        max-width: 100%;
        height:50%;
    }
    .democol2 p{
        position: relative;
        top:-6.5px;
    }
}
@media(max-width:389px) and (min-width:319px){
    html{
        font-size: 14px;
    }
    #aboutme{
        position: relative;
        display: block;
        width: 100%;
        max-width: 100%;
        height: 1340px;
        border:none;
    }
    #aboutme a{
        position: relative;
        left:30%;
        top:6%;
        font-weight: 800;
        font-size:1rem;
        color: black;
        text-decoration: none;
    }
    #img{
        position:relative;
        top:2%;
        width: 100%;
        max-width: 65%;
        height: 28%;
        margin:auto;
       background-color: #b0d5e6;

    }
    #img img{
        position: relative;
        top:0%;
        left:4%;
        width: 100%;
        max-width: 95%;
        height: 100%;
    }
    #me{
        position:relative;
        display: block;
        width: 100%;
        max-width: 100%;
        height: 76%;
    }
    #mehead{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: 25%;
        top:4%;
        padding:5px;
        font-size: .9rem;
        font-weight: 700;
        margin:auto;
        margin-bottom: 12%;
        border-bottom: 3px solid rgb(19, 89, 241);
    }
    #headingme{
        position: relative;
        top:2%;
        left:2%;
        text-align: center;
        width: 100%;
        max-width: 95%;
        font-weight: 700;
        font-size: 1rem;
        padding-right: 4%;
        margin:auto;
        color:rgb(19, 89, 241);
    }
    #bodyme{
        position: relative;
        top:4%;
        width: 100%;
        max-width: 85%;
        margin:auto;
        font-size: .9rem;
        line-height: 35px;
        text-align: justify;
    }
    #demo{
        position: relative;
        display: block;
        top:5%;
        width: 100%;
        max-width: 90%;
        margin:auto;
        height:20%;
    }
    #demo div{
        position: relative;
        display: block;
        top:5%;
        width: 100%;
        max-width:100%;
        height:50%;
    }
    .bxs-envelope, .bx-current-location, .bxs-phone-call, .bx-calendar{
        position:relative;
        top:10%;
        left:0%;
        font-size: 1.4rem;
        margin-right: 5px;
    }
   h1{
    position: relative;
    top: -12px;
    color:grey;
    margin-right: 7px;
   }
    .democol1{
        position: relative;
        display: flex;
        width:100%;
        max-width: 100%;
        height:50%;
    }
    .democol1 p{
        position: relative;
        top:-6.5px;
        font-size: 0.9rem;
    }
    .democol2{
        position: relative;
        display: flex;
        width:100%;
        max-width: 100%;
        height:50%;
    }
    .democol2 p{
        position: relative;
        top:-6.5px;
    }
}
