@media(min-width:1536px){
    .contactcontainer a{
        color:black;
    }
    .contactcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 90%;
        margin:auto;
        height: 450px;
        margin-top: .5%;
    }
    #contact{
        position:relative;
        display:flex;
        width: 100%;
        max-width:100%;
        border-radius: 5px;
        height: 80%;
        background-color: #4d4f64;
    }
    #contactheader{
        position:relative;
        display: block;
        top:3%;
        width: 100%;
        max-width:100%;
        height:20%;
    }
    #contactheader h1{
        position:relative;
        text-align: center;
        left:2%;
        width:100%;
        left:48%;
        font-size: 1rem;
        padding-bottom:5px;
        text-align: center;
        max-width:fit-content;
        color:black;
        border-bottom: 3px solid blue;
    }
    #contactheader p{
        position: relative;
        top:-23%;
        font-size: 1.1rem;
        text-align: center;
    }
    #contactmain{
        position: relative;
        display:flex;
        width:100%;
        max-width: 100%;
        height: 100%;
    }
    #contactaesthetics{
        position: relative;
        width:100%;
        max-width: 30%;
        border-radius: 5px;
        height: 100%;
        background-image: url('../img/pexels-thomas-vanhaecht-215367.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 60%;
    }
    #contactform{
        position: relative;
        display: block;
        width: 100%;
        max-width:70%;
    }
    #contactform form{
        position: relative;
        top:5%;
        width: 100%;
        max-width: 90%;
        height: 90%;
        margin:auto;
    }
    #clientname{
        position: relative;
        width: 100%;
        left:9%;
        margin-top: 5%;
        max-width: 83%;
        height: 7%;
    }
    #clientname:focus,#subject:focus,#email:focus,#text:focus{
        outline: 1px solid blue;
        box-shadow: 1px 1px 1px 1px;
    }
    #subject{
        position: relative;
        width: 100%;
        max-width: 40%;
        left:9%;
        margin-top: 3%;
        margin-right: 1%;
        margin-bottom: 2%;
        height: 7%;
    }
    #email{
        position: relative;
        width: 100%;
        max-width: 40%;
        left:9%;
        margin-top: 3%;
        margin-bottom: 2%;
        height: 7%;
    }
    #text{
        position: relative;
        width:100%;
        max-width: 83%;
        height: 50%;
        left:9%;
        resize: none;
    }
    #submit{
        position: relative;
        top:5%;
        left:36%;
        height:10%;
        font-weight: 600;
        border-radius: 5px;
        border: 1px solid blue;
        background-color: blue;
        color:white;
    }
    #submit:hover{
        cursor:pointer;
    }
    #contactmedia{
        position:relative;
        width:100%;
        max-width: 45%;
    }
    .media{
        position: relative;
        display: flex;
        top:10%;
        width:100%;
        max-width:80%;
        margin-bottom: 14%;
        height: 14%;
        background-color: white;
        border-radius: 10px;
    }
    .media i{
        position: relative;
        top:20%;
        margin-left:2%;
        font-size: 1.5rem;
        margin-right:2%;
    }
    .bxl-whatsapp{
        color:green;
    }
    .bxl-telegram{
        color:rgb(0, 140, 255);
    }
    .media span{
        position: relative;
        top:18%;
        width: 100%;
        max-width: fit-content;
        font-size: 1rem;
    }
    .media a{
        position: relative;
        width: 100%;
        max-width: 10%;
        margin-left: 2%;
    }
    #medialink-2{
        position: relative;
        top:6%;
        width: 100%;
        left: -1%;
        max-width: 85%;
        height: 85%;
    }
    .copy-footer{
        position: relative;
        width: 100%;
        max-width: 100%;
        height:8%;
        background-color: blue;
    }
    .copy-footer p{
        position: relative;
        color: white;
        text-align: center;
        top:20%;
    }
}
@media(min-width:1280px) and (max-width:1535px){
    .contactcontainer a{
        color:black;
    }
    .contactcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 90%;
        margin:auto;
        height: 450px;
        margin-top: .5%;
    }
    #contact{
        position:relative;
        display:flex;
        width: 100%;
        max-width:100%;
        border-radius: 5px;
        height: 80%;
        background-color: #4d4f64;
    }
    #contactheader{
        position:relative;
        display: block;
        top:3%;
        width: 100%;
        max-width:100%;
        height:20%;
    }
    #contactheader h1{
        position:relative;
        text-align: center;
        left:2%;
        width:100%;
        left:48%;
        font-size:1rem;
        padding-bottom:5px;
        text-align: center;
        max-width:fit-content;
        color:black;
        border-bottom: 3px solid blue;
    }
    #contactheader p{
        position: relative;
        top:-23%;
        font-size: 1.1rem;
        text-align: center;
    }
    #contactmain{
        position: relative;
        display:flex;
        width:100%;
        max-width: 100%;
        height: 100%;
    }
    #contactaesthetics{
        position: relative;
        width:100%;
        max-width: 30%;
        height: 100%;
        border-radius: 5px;
        background-image: url('../img/pexels-thomas-vanhaecht-215367.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 60%;
    }
    #contactform{
        position: relative;
        display: block;
        width: 100%;
        max-width:70%;
    }
    #contactform form{
        position: relative;
        top:5%;
        width: 100%;
        max-width: 90%;
        height: 90%;
        margin:auto;
    }
    #clientname{
        position: relative;
        width: 100%;
        left:9%;
        margin-top: 5%;
        max-width: 83%;
        height: 7%;
    }
    #clientname:focus,#subject:focus,#email:focus,#text:focus{
        outline: 1px solid blue;
        box-shadow: 1px 1px 1px 1px;
    }
    #subject{
        position: relative;
        width: 100%;
        max-width: 40%;
        left:9%;
        margin-top: 3%;
        margin-right: 1%;
        margin-bottom: 2%;
        height: 7%;
    }
    #email{
        position: relative;
        width: 100%;
        max-width: 40%;
        left:9%;
        margin-top: 3%;
        margin-bottom: 2%;
        height: 7%;
    }
    #text{
        position: relative;
        width:100%;
        max-width: 83%;
        height: 50%;
        left:9%;
        resize: none;
    }
    #submit{
        position: relative;
        top:5%;
        left:36%;
        height:10%;
        font-weight: 600;
        border-radius: 5px;
        border: 1px solid blue;
        background-color: blue;
        color:white;
    }
    #submit:hover{
        cursor:pointer;
    }
    #contactmedia{
        position:relative;
        width:100%;
        max-width: 45%;
    }
    .media{
        position: relative;
        display: flex;
        top:10%;
        width:100%;
        max-width:80%;
        margin-bottom: 14%;
        height: 14%;
        background-color: white;
        border-radius: 10px;
    }
    .media i{
        position: relative;
        top:20%;
        margin-left:2%;
        font-size: 1.5rem;
        margin-right:2%;
    }
    .bxl-whatsapp{
        color:green;
    }
    .bxl-telegram{
        color:rgb(0, 140, 255);
    }
    .media span{
        position: relative;
        top:18%;
        width: 100%;
        max-width: fit-content;
        font-size: 1rem;
    }
    .media a{
        position: relative;
        width: 100%;
        max-width: 10%;
        margin-left: 2%;
    }
    #medialink-2{
        position: relative;
        top:6%;
        width: 100%;
        left: -1%;
        max-width: 85%;
        height: 85%;
    }
    .copy-footer{
        position: relative;
        width: 100%;
        max-width: 100%;
        height:8%;
        background-color: blue;
    }
    .copy-footer p{
        position: relative;
        color: white;
        text-align: center;
        top:20%;
    }
}
@media(min-width:1024px) and (max-width:1279px){
    .contactcontainer a{
        color:black;
    }
    .contactcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 100%;
        height: 450px;
        margin-top: .5%;
    }
    #contact{
        position:relative;
        display:flex;
        width: 100%;
        max-width:100%;
        height: 80%;
        border-radius: 5px;
        background-color: #4d4f64;
    }
    #contactheader{
        position:relative;
        display: block;
        top:3%;
        width: 100%;
        max-width:100%;
        height:20%;
    }
    #contactheader h1{
        position:relative;
        text-align: center;
        left:2%;
        width:100%;
        left:48%;
        font-size:1rem;
        padding-bottom:5px;
        text-align: center;
        max-width:fit-content;
        color:black;
        border-bottom: 3px solid blue;
    }
    #contactheader p{
        position: relative;
        top:-23%;
        font-size: 1.1rem;
        text-align: center;
    }
    #contactmain{
        position: relative;
        display:flex;
        width:100%;
        max-width: 100%;
        height: 100%;
    }
    #contactaesthetics{
        position: relative;
        width:100%;
        max-width: 30%;
        height: 100%;
        border-radius: 5px;
        background-image: url('../img/pexels-thomas-vanhaecht-215367.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 60%;
    }
    #contactform{
        position: relative;
        display: block;
        width: 100%;
        max-width:70%;
    }
    #contactform form{
        position: relative;
        top:5%;
        width: 100%;
        max-width: 90%;
        height: 90%;
        margin:auto;
    }
    #clientname{
        position: relative;
        width: 100%;
        left:9%;
        margin-top: 5%;
        max-width: 83%;
        height: 7%;
    }
    #clientname:focus,#subject:focus,#email:focus,#text:focus{
        outline: 1px solid blue;
        box-shadow: 1px 1px 1px 1px;
    }
    #subject{
        position: relative;
        width: 100%;
        max-width: 40%;
        left:9%;
        margin-top: 3%;
        margin-right: 1%;
        margin-bottom: 2%;
        height: 7%;
    }
    #email{
        position: relative;
        width: 100%;
        max-width: 40%;
        left:9%;
        margin-top: 3%;
        margin-bottom: 2%;
        height: 7%;
    }
    #text{
        position: relative;
        width:100%;
        max-width: 83%;
        height: 50%;
        left:9%;
        resize: none;
    }
    #submit{
        position: relative;
        top:5%;
        left:36%;
        height:10%;
        font-weight: 600;
        border-radius: 5px;
        border: 1px solid blue;
        background-color: blue;
        color:white;
    }
    #submit:hover{
        cursor:pointer;
    }
    #contactmedia{
        position:relative;
        width:100%;
        max-width: 45%;
    }
    .media{
        position: relative;
        display: flex;
        top:10%;
        width:100%;
        max-width:80%;
        margin-bottom: 14%;
        height: 14%;
        background-color: white;
        border-radius: 10px;
    }
    .media i{
        position: relative;
        top:20%;
        margin-left:2%;
        font-size: 1.5rem;
        margin-right:2%;
    }
    .bxl-whatsapp{
        color:green;
    }
    .bxl-telegram{
        color:rgb(0, 140, 255);
    }
    .media span{
        position: relative;
        top:18%;
        width: 100%;
        max-width: fit-content;
        font-size: 1rem;
    }
    .media a{
        position: relative;
        width: 100%;
        max-width: 10%;
        margin-left: 2%;
    }
    #medialink-2{
        position: relative;
        top:6%;
        width: 100%;
        left: -1%;
        max-width: 85%;
        height: 85%;
    }
    .copy-footer{
        position: relative;
        width: 100%;
        max-width: 100%;
        height:8%;
        background-color: blue;
    }
    .copy-footer p{
        position: relative;
        color: white;
        text-align: center;
        top:20%;
    }
}
@media(max-width:1023px) and (min-width:769px){
    .contactcontainer a{
        color:black;
    }
    .contactcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 100%;
        height: 450px;
        margin-top: .5%;
    }
    #contact{
        position:relative;
        display:flex;
        width: 100%;
        max-width:100%;
        border-radius: 5px;
        height: 80%;
        background-color: #4d4f64;
    }
    #contactheader{
        position:relative;
        display: block;
        top:3%;
        width: 100%;
        max-width:100%;
        height:20%;
    }
    #contactheader h1{
        position:relative;
        width:100%;
        text-align: center;
        left:48%;
        font-size: 1rem;
        padding-bottom:5px;
        text-align: center;
        max-width:fit-content;
        color:black;
        border-bottom: 3px solid blue;
    }
    #contactheader p{
        position: relative;
        left:2%;
        top:-23%;
        font-size: 1.1rem;
        text-align: center;
    }
    #contactmain{
        position: relative;
        display:flex;
        width:100%;
        max-width: 100%;
        height: 100%;
    }
    #contactaesthetics{
        position: relative;
        width:100%;
        max-width: 25%;
        height: 100%;
        border-radius: 5px;
        background-image: url('../img/pexels-thomas-vanhaecht-215367.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 60%;
    }
    #contactform{
        position: relative;
        display: block;
        width: 100%;
        max-width:60%;
    }
    #contactform form{
        position: relative;
        top:5%;
        left:-5%;
        width: 100%;
        max-width: 90%;
        height: 90%;
        margin:auto;
    }
    #clientname{
        position: relative;
        width: 100%;
        left:4%;
        margin-top: 5%;
        max-width: 95%;
        height: 7%;
    }
    #clientname:focus,#subject:focus,#email:focus,#text:focus{
        outline: 1px solid blue;
        box-shadow: 1px 1px 1px 1px;
    }
    #subject{
        position: relative;
        width: 100%;
        max-width: 45.5%;
        left:4%;
        margin-top: 3%;
        margin-right: 1%;
        margin-bottom: 2%;
        height: 7%;
    }
    #email{
        position: relative;
        width: 100%;
        max-width: 45.5%;
        left:4%;
        margin-top: 3%;
        margin-bottom: 2%;
        height: 7%;
    }
    #text{
        position: relative;
        width:100%;
        max-width: 95%;
        height: 50%;
        left:4%;
        resize: none;
    }
    #submit{
        position: relative;
        top:5%;
        left:32%;
        height:10%;
        font-weight: 600;
        border-radius: 5px;
        border: 1px solid blue;
        background-color: blue;
        color:white;
    }
    #submit:hover{
        cursor:pointer;
    }
    #contactmedia{
        position:relative;
        width:100%;
        max-width: 45%;
    }
    .media{
        position: relative;
        display: flex;
        top:10%;
        width:100%;
        max-width:95%;
        margin-bottom: 14%;
        height: 13%;
        background-color: white;
        border-radius: 10px;
    }
    .media i{
        position: relative;
        top:20%;
        margin-left: 2%;
        font-size: 1.5rem;
        margin-right:2%;
    }
    .bxl-whatsapp{
        color:green;
    }
    .bxl-telegram{
        color:rgb(0, 140, 255);
    }
    .media span{
        position: relative;
        top:20%;
        width: 100%;
        max-width: fit-content;
        font-size: .9rem;
    }
    .media a{
        position: relative;
        width: 100%;
        margin-left:2%;
        max-width: 10%;
    }
    #medialink-2{
        position: relative;
        top:2%;
        margin-left: 2%;
        width: 100%;
        left: -3%;
        max-width: 85%;
        height: 85%;
    }
    .copy-footer{
        position: relative;
        width: 100%;
        max-width: 100%;
        height:7%;
        background-color: blue;
    }
    .copy-footer p{
        position: relative;
        color: white;
        text-align: center;
        top:20%;
    }
}
/*mobile and tablet screens*/
@media(max-width:768px) and (min-width:683px){
    .contactcontainer a{
        color:black;
    }
    .contactcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 100%;
        height: 450px;
        margin-top: .5%;
    }
    #contact{
        position:relative;
        display:flex;
        width: 100%;
        max-width:100%;
        height: 80%;
        border-radius: 5px;
        background-color: #4d4f64;
    }
    #contactheader{
        position:relative;
        display: block;
        top:3%;
        width: 100%;
        max-width:100%;
        height:20%;
    }
    #contactheader h1{
        position:relative;
        width:100%;
        left:48%;
        padding-bottom:5px;
        font-size: 1rem;
        text-align: center;
        max-width:fit-content;
        color:black;
        border-bottom: 2px solid blue;
    }
    #contactheader p{
        position: relative;
        top:-23%;
        font-size: 0.9rem;
        text-align: center;
    }
    #contactmain{
        position: relative;
        display:flex;
        width:100%;
        max-width: 100%;
        height: 100%;
    }
    #contactaesthetics{
        position: relative;
        display:none;
        width:100%;
        max-width: 20%;
        height: 100%;
        border-radius: 5px;
        background-image: url('../img/pexels-thomas-vanhaecht-215367.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 60%;
    }
    #contactform{
        position: relative;
        display: block;
        width: 100%;
        max-width:55%;
    }
    #contactform form{
        position: relative;
        top:5%;
        left:-5%;
        width: 100%;
        max-width: 90%;
        height: 90%;
        margin:auto;
    }
    #clientname{
        position: relative;
        width: 100%;
        left:4%;
        margin-top: 5%;
        max-width: 95%;
        height: 7%;
    }
    #clientname:focus,#subject:focus,#email:focus,#text:focus{
        outline: 1px solid blue;
        box-shadow: 1px 1px 1px 1px;
    }
    #subject{
        position: relative;
        width: 100%;
        max-width: 45.5%;
        left:4%;
        margin-top: 3%;
        margin-right: 1%;
        margin-bottom: 2%;
        height: 7%;
    }
    #email{
        position: relative;
        width: 100%;
        max-width: 45.5%;
        left:4%;
        margin-top: 3%;
        margin-bottom: 2%;
        height: 7%;
    }
    #text{
        position: relative;
        width:100%;
        max-width: 95%;
        height: 50%;
        left:4%;
        resize: none;
    }
    #submit{
        position: relative;
        top:5%;
        left:32%;
        height:10%;
        font-weight: 600;
        border-radius: 5px;
        border: 1px solid blue;
        background-color: blue;
        color:white;
    }
    #submit:hover{
        cursor:pointer;
    }
    #contactmedia{
        position:relative;
        width:100%;
        max-width: 45%;
    }
    .media{
        position: relative;
        display: flex;
        top:10%;
        width:100%;
        max-width:90%;
        margin-bottom: 14%;
        height: 12%;
        background-color: white;
        border-radius: 10px;
    }
    .media i{
        position: relative;
        top:20%;
        margin-left:2%;
        font-size: 1.5rem;
        margin-right:2%;
    }
    .bxl-whatsapp{
        color:green;
    }
    .bxl-telegram{
        color:rgb(0, 140, 255);
    }
    .media span{
        position: relative;
        top:17%;
        width: 100%;
        max-width: fit-content;
        font-size: 1rem;
    }
    .media a{
        position: relative;
        margin-left: 2%;
        width: 100%;
        max-width: 10%;
    }
    #medialink-2{
        position: relative;
        top:8%;
        width: 100%;
        left: -2%;
        max-width: 85%;
        height: 85%;
    }
    .copy-footer{
        position: relative;
        width: 100%;
        max-width: 100%;
        height:8%;
        background-color: blue;
    }
    .copy-footer p{
        position: relative;
        color: white;
        text-align: center;
        top:20%;
    }
}
@media(max-width:682px) and (min-width:560px){
    .contactcontainer a{
        color:black;
    }
    .contactcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 100%;
        height: 800px;
        margin-top: .5%;
    }
    #contact{
        position:relative;
        display:block;
        width: 100%;
        max-width:100%;
        height: 80%;
        border-radius: 5px;
        background-color: #4d4f64;
    }
    #contactheader{
        position:relative;
        display: block;
        top:3%;
        width: 100%;
        max-width:100%;
        height:20%;
    }
    #contactheader h1{
        position:relative;
        width:100%;
        top:25%;
        left:42%;
        padding-bottom:5px;
        text-align: center;
        max-width:fit-content;
        color:black;
        font-size: 1rem;
        border-bottom: 2px solid blue;
    }
    #contactheader p{
        position: relative;
        top:20%;
        font-size: .9rem;
        text-align: center;
    }
    #contactmain{
        position: relative;
        display:block;
        width:100%;
        max-width: 100%;
        height: 100%;
    }
    #contactaesthetics{
        position: relative;
        display:none;
        width:100%;
        max-width: 20%;
        height: 100%;
        border-radius: 5px;
        background-image: url('../img/pexels-thomas-vanhaecht-215367.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 60%;
    }
    #contactform{
        position: relative;
        display: block;
        width: 100%;
        max-width:55%;
        height: 50%;
        margin: auto;
        margin-bottom:0%;
    }
    #contactform form{
        position: relative;
        top:5%;
        left:-5%;
        width: 100%;
        max-width: 90%;
        height: 90%;
        margin:auto;
    }
    #clientname{
        position: relative;
        width: 100%;
        left:4%;
        margin-top: 5%;
        max-width: 95%;
        height: 7%;
    }
    #clientname:focus,#subject:focus,#email:focus,#text:focus{
        outline: 1px solid blue;
        box-shadow: 1px 1px 1px 1px;
    }
    #subject{
        position: relative;
        width: 100%;
        max-width: 45.5%;
        left:4%;
        margin-top: 3%;
        margin-right: 1%;
        margin-bottom: 2%;
        height: 7%;
    }
    #email{
        position: relative;
        width: 100%;
        max-width: 45.5%;
        left:4%;
        margin-top: 3%;
        margin-bottom: 2%;
        height: 7%;
    }
    #text{
        position: relative;
        width:100%;
        max-width: 95%;
        height: 50%;
        left:4%;
        resize: none;
    }
    #submit{
        position: relative;
        top:5%;
        left:32%;
        height:10%;
        font-weight: 600;
        border-radius: 5px;
        border: 1px solid blue;
        background-color: blue;
        color:white;
    }
    #submit:hover{
        cursor:pointer;
    }
    #contactmedia{
        position:relative;
        width:100%;
        max-width: 50%;
        height: 50%;
        margin: auto;
    }
    .media{
        position: relative;
        display: flex;
        top:10%;
        width:100%;
        max-width:100%;
        margin-bottom: 14%;
        height: 15%;
        background-color: white;
        border-radius: 10px;
    }
    .media i{
        position: relative;
        top:20%;
        font-size: 1.5rem;
        margin-right:2%;
    }
    .bxl-whatsapp{
        color:green;
    }
    .bxl-telegram{
        color:rgb(0, 140, 255);
    }
    .media span{
        position: relative;
        top:17%;
        width: 100%;
        max-width: fit-content;
        font-size: 1rem;
    }
    .media a{
        position: relative;
        margin-left: 2%;
        width: 100%;
        max-width: 10%;
    }
    #medialink-2{
        position: relative;
        top:8%;
        width: 100%;
        left: -2%;
        max-width: 85%;
        height: 85%;
    }
    .copy-footer{
        position: relative;
        width: 100%;
        max-width: 100%;
        height:5%;
        background-color: blue;
    }
    .copy-footer p{
        position: relative;
        color: white;
        text-align: center;
        top:30%;
    }
}
@media(max-width:375px) and (min-width:319px){
    .contactcontainer a{
        color:black;
    }
    .contactcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 100%;
        height: 800px;
        margin-top: .5%;
    }
    #contact{
        position:relative;
        display:block;
        width: 100%;
        max-width:100%;
        height: 80%;
        top:-5%;
        border-radius: 5px;
        background-color: #4d4f64;
    }
    #contactheader{
        position:relative;
        display: block;
        top:3%;
        width: 100%;
        max-width:100%;
        height:20%;
    }
    #contactheader h1{
        position:relative;
        width:100%;
        top:10%;
        left:38%;
        padding-bottom:5px;
        text-align: center;
        font-size: .9rem;
        max-width:fit-content;
        color:black;
        border-bottom: 2px solid blue;
    }
    #contactheader p{
        position: relative;
        top:5%;
        font-size: .9rem;
        text-align: center;
    }
    #contactmain{
        position: relative;
        display:block;
        width:100%;
        max-width: 100%;
        height: 100%;
    }
    #contactaesthetics{
        position: relative;
        display:none;
        width:100%;
        max-width: 20%;
        height: 100%;
        border-radius: 5px;
        background-image: url('../img/pexels-thomas-vanhaecht-215367.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 60%;
    }
    #contactform{
        position: relative;
        display: block;
        width: 100%;
        max-width:70%;
        height: 50%;
        margin: auto;
        margin-bottom:0%;
    }
    #contactform form{
        position: relative;
        top:5%;
        left:-5%;
        width: 100%;
        max-width: 100%;
        height: 90%;
        margin:auto;
    }
    #clientname{
        position: relative;
        width: 100%;
        left:4%;
        font-size:.9rem;
        margin-top: 5%;
        max-width: 95%;
        height: 7%;
    }
    
    #clientname:focus,#subject:focus,#email:focus,#text:focus{
        outline:none;
        box-shadow: 1px 1px 1px 1px;
    }
    #subject{
        position: relative;
        width: 100%;
        max-width: 45.5%;
        left:4%;
        font-size:.9rem;
        margin-top: 3%;
        margin-right: 1%;
        margin-bottom: 2%;
        height: 7%;
    }
    #email{
        position: relative;
        width: 100%;
        max-width: 45.5%;
        left:4%;
        font-size:.9rem;
        margin-top: 3%;
        margin-bottom: 2%;
        height: 7%;
    }
    #text{
        position: relative;
        width:100%;
        max-width: 95%;
        height: 50%;
        left:4%;
        resize: none;
    }
    #submit{
        position: relative;
        top:5%;
        left:28%;
        height:10%;
        font-size: .9rem;
        font-weight: 600;
        border-radius: 5px;
        border: 1px solid blue;
        background-color: blue;
        color:white;
    }
    #submit:hover{
        cursor:pointer;
    }
    #contactmedia{
        position:relative;
        width:100%;
        max-width: 60%;
        height: 50%;
        margin: auto;
    }
    .media{
        position: relative;
        display: flex;
        top:10%;
        width:100%;
        max-width:100%;
        margin-bottom: 14%;
        height: 15%;
        background-color: white;
        border-radius: 10px;
    }
    .media i{
        position: relative;
        top:28%;
        font-size: 1.1rem;
        margin-right:2%;
    }
    .bxl-whatsapp{
        color:green;
    }
    .bxl-telegram{
        color:rgb(0, 140, 255);
    }
    .media span{
        position: relative;
        top:20%;
        width: 100%;
        max-width: fit-content;
        font-size: .9rem;
    }
    .media a{
        position: relative;
        margin-left: 2%;
        width: 100%;
        max-width: 10%;
    }
    #medialink-2{
        position: relative;
        top:5%;
        width: 100%;
        left: -2%;
        max-width: 85%;
        height: 85%;
    }
    .copy-footer{
        position: relative;
        width: 100%;
        max-width: 100%;
        height:5%;
        background-color: blue;
    }
    .copy-footer p{
        position: relative;
        color: white;
        text-align: center;
        top:20%;
    }
}



