/*scalable for desktops and larger screen*/
@media(min-width:1536px){
    #educationcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 85%;
        margin:auto;
        border-radius: 5px;
        height: 400px;
        background-image: url('../img/pexels-christina-morillo-1181421.jpg');
        background-repeat: no repeat;
        background-size: cover;
    }
    #educationcontainer h1{
        position:relative;
        font-size: 1.1rem;
        top:2%;
        text-align: center;
        color: rgb(58, 58, 58);
    }
    #educationbody{
        position: relative;
        display:flex;
        margin: auto;
        width: 100%;
        max-width: 80%;
        height: 85%;
        border-radius: 5px;
    }
    #education{
        position: relative;
        display:block;
        width:100%;
        max-width:50%;
        height: 100%;
    }
    #experience{
        position: relative;
        display:block;
        width:100%;
        max-width:50%;
        height: 100%;
    }
    .bx-edit-alt, .bxs-shopping-bag{
        position: relative;
        top:3.5%;
        left:34%;
        font-size: 1.2rem;
        border-radius: 50%;
        color: #314c79;
        margin-right:50px;
    }
    #educationspan{
        position: relative;
        font-size: 1.1rem;
        font-weight: 700;
        top:10px;
        left:26%;
        color: #314c79;
    }
    #infocontainer{
        position:relative;
        top:2%;
        left:8.5%;
        width:100%;
        max-width:65%;
        padding-bottom: 20px;
        height: 80%;
        background-color: #314b7993;
        backdrop-filter: blur();
        border-radius:5px;
    }
    #educationyear{
        position:relative;
        color: white;
        margin:none;
        top:5%;
        left:9%;
        font-weight: 600;
        border-left: 2px solid white;
        height:50px;
        padding-left: 5px;
    }
    #experienceyear{
        position:relative;
        color: white;
        margin:none;
        top:5%;
        left:9%;
        font-weight: 600;
        border-left: 2px solid white;
        height:30px;
        padding-left: 5px;
    }
    #degreetext{
        position:relative;
        color: white;
        left:0px;
        margin:none;
        top:0%;
        left:8%;
        font-weight: 600;
    }
    #university{
        position: relative;
        width: 100%;
        max-width: 80%;
        text-align: justify;
        color:white;
        left:8%;
    }
}
@media(min-width:1280px) and (max-width:1535px){
    #educationcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 90%;
        margin:auto;
        border-radius: 5px;
        height: 400px;
        background-image: url('../img/pexels-christina-morillo-1181421.jpg');
        background-repeat: no repeat;
        background-size: cover;
    }
    #educationcontainer h1{
        position:relative;
        font-size: 1.1rem;
        top:2%;
        text-align: center;
        color: rgb(58, 58, 58);
    }
    #educationbody{
        position: relative;
        display:flex;
        margin: auto;
        width: 100%;
        max-width: 80%;
        height: 85%;
        border-radius: 5px;
    }
    #education{
        position: relative;
        display:block;
        width:100%;
        max-width:50%;
        height: 100%;
    }
    #experience{
        position: relative;
        display:block;
        width:100%;
        max-width:50%;
        height: 100%;
    }
    .bx-edit-alt, .bxs-shopping-bag{
        position: relative;
        top:3.5%;
        left:34%;
        font-size: 1.2rem;
        border-radius: 50%;
        color: #314c79;
        margin-right:50px;
    }
    #educationspan{
        position: relative;
        font-size: 1.1rem;
        font-weight: 700;
        top:10px;
        left:26%;
        color: #314c79;
    }
    #infocontainer{
        position:relative;
        top:2%;
        left:8.5%;
        width:100%;
        max-width:80%;
        height: 80%;
        background-color: #314b7993;
        backdrop-filter: blur();
        border-radius:5px;
    }
    #educationyear{
        position:relative;
        color: white;
        margin:none;
        top:5%;
        left:9%;
        font-weight: 600;
        border-left: 2px solid white;
        height:50px;
        padding-left: 5px;
    }
    #experienceyear{
        position:relative;
        color: white;
        margin:none;
        top:5%;
        left:9%;
        font-weight: 600;
        border-left: 2px solid white;
        height:30px;
        padding-left: 5px;
    }
    #degreetext{
        position:relative;
        color: white;
        left:0px;
        margin:none;
        top:0%;
        left:8%;
        font-weight: 600;
    }
    #university{
        position: relative;
        width: 100%;
        max-width: 80%;
        text-align: justify;
        color:white;
        left:8%;
    }
}
@media(min-width:1024px) and (max-width:1279px){
    #educationcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 100%;
        border-radius: 5px;
        height: 400px;
        background-image: url('../img/pexels-christina-morillo-1181421.jpg');
        background-repeat: no repeat;
        background-size: cover;
    }
    #educationcontainer h1{
        position:relative;
        font-size: 1.1rem;
        top:2%;
        text-align: center;
        color: rgb(58, 58, 58);
    }
    #educationbody{
        position: relative;
        display:flex;
        margin: auto;
        width: 100%;
        max-width: 80%;
        height: 85%;
        border-radius: 5px;
    }
    #education{
        position: relative;
        display:block;
        width:100%;
        max-width:50%;
        height: 100%;
    }
    #experience{
        position: relative;
        display:block;
        width:100%;
        max-width:50%;
        height: 100%;
    }
    .bx-edit-alt, .bxs-shopping-bag{
        position: relative;
        top:3.5%;
        left:34%;
        font-size: 1.2rem;
        border-radius: 50%;
        color: #314c79;
        margin-right:50px;
    }
    #educationspan{
        position: relative;
        font-size: 1.1rem;
        font-weight: 700;
        top:10px;
        left:26%;
        color: #314c79;
    }
    #infocontainer{
        position:relative;
        top:2%;
        left:8.5%;
        width:100%;
        max-width:80%;
        height: 80%;
        background-color: #314b7993;
        backdrop-filter: blur();
        border-radius:5px;
    }
    #educationyear{
        position:relative;
        color: white;
        margin:none;
        top:5%;
        left:9%;
        font-weight: 600;
        border-left: 2px solid white;
        height:50px;
        padding-left: 5px;
    }
    #experienceyear{
        position:relative;
        color: white;
        margin:none;
        top:5%;
        left:9%;
        font-weight: 600;
        border-left: 2px solid white;
        height:30px;
        padding-left: 5px;
    }
    #degreetext{
        position:relative;
        color: white;
        left:0px;
        margin:none;
        top:0%;
        left:8%;
        font-weight: 600;
    }
    #university{
        position: relative;
        width: 100%;
        max-width: 80%;
        text-align: justify;
        color:white;
        left:8%;
    }
}
@media(max-width:1023px) and (min-width:769px){
    #educationcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 100%;
        height: 400px;
        background-image: url('../img/pexels-christina-morillo-1181421.jpg');
        background-repeat: no repeat;
        background-size: cover;
    }
    #educationcontainer h1{
        position:relative;
        font-size: 1rem;
        top:2%;
        text-align: center;
        color: rgb(58, 58, 58);
    }
    #educationbody{
        position: relative;
        display:flex;
        top:-3%;
        margin: auto;
        width: 100%;
        max-width: 95%;
        height: 85%;
        border-radius: 5px;
    }
    #education{
        position: relative;
        top:5%;
        display:block;
        width:100%;
        max-width:50%;
        height: 100%;
    }
    #experience{
        position: relative;
        top:5%;
        display:block;
        width:100%;
        max-width:50%;
        height: 100%;
    }
    .bx-edit-alt, .bxs-shopping-bag{
        position: relative;
        top:3%;
        left:33%;
        font-size: 1.2rem;
        border-radius: 50%;
        color: #314c79;
        margin-right:50px;
    }
    #educationspan{
        position: relative;
        font-size: 1.1rem;
        font-weight: 700;
        top:10px;
        left:25%;
        color: #314c79;
    }
    #infocontainer{
        position:relative;
        top:0%;
        left:8.5%;
        width:100%;
        max-width:80%;
        height: 80%;
        background-color: #314c7993;
        backdrop-filter: blur();
        border-radius:5px;
    }
    #educationyear{
        position:relative;
        color: white;
        margin:none;
        top:5%;
        left:9%;
        font-weight: 600;
        border-left: 2px solid white;
        height:50px;
        padding-left: 5px;
    }
    #experienceyear{
        position:relative;
        color: white;
        margin:none;
        top:5%;
        left:9%;
        font-weight: 600;
        border-left: 2px solid white;
        height:30px;
        padding-left: 5px;
    }
    #degreetext{
        position:relative;
        color: white;
        left:0px;
        margin:none;
        top:0%;
        left:8%;
        font-weight: 600;
    }
    #university{
        position: relative;
        width: 100%;
        max-width: 80%;
        text-align: justify;
        color:white;
        left:8%;
    }
    
}
/*scalable for mobile screens*/
@media(max-width:768px) and (min-width:519px){
    #educationcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 100%;
        height: 400px;
        background-image: url('../img/pexels-christina-morillo-1181421.jpg');
        background-repeat: no repeat;
        background-size: cover;
    }
    #educationcontainer h1{
        position:relative;
        font-size: .9rem;
        top:2%;
        text-align: center;
        color: rgb(58, 58, 58);
    }
    #educationbody{
        position: relative;
        display:flex;
        margin: auto;
        width: 100%;
        max-width: 95%;
        height: 85%;
        border-radius: 5px;
    }
    #education{
        position: relative;
        display:block;
        margin: auto;
        width:100%;
        max-width:50%;
        height: 100%;
    }
    #experience{
        position: relative;
        display:block;
        margin: auto;
        width:100%;
        max-width:50%;
        height: 100%;
    }
    .bx-edit-alt, .bxs-shopping-bag{
        position: relative;
        top:3.5%;
        left:33%;
        font-size: 1.2rem;
        border-radius: 50%;
        color: #314c79;
        margin-right:50px;
    }
    #educationspan{
        position: relative;
        font-size: .9rem;
        font-weight: 700;
        top:10px;
        left:22%;
        color: #314c79;
    }
    #infocontainer{
        position:relative;
        top:2%;
        left:8.5%;
        width:100%;
        max-width:79%;
        height: 80%;
        background-color: #314c7993;
        border-radius:5px;
    }
    #educationyear{
        position:relative;
        color: white;
        margin:none;
        top:5%;
        left:9%;
        font-weight: 600;
        border-left: 2px solid white;
        height:50px;
        padding-left: 5px;
    }
    #experienceyear{
        position:relative;
        color: white;
        margin:none;
        top:5%;
        left:9%;
        font-weight: 600;
        border-left: 2px solid white;
        height:30px;
        padding-left: 5px;
    }
    #degreetext{
        position:relative;
        color: white;
        left:0px;
        font-size: .9rem;
        margin:none;
        top:0%;
        left:8%;
        font-weight: 600;
    }
    #university{
        position: relative;
        width: 100%;
        max-width: 80%;
        font-size: .9rem;
        text-align: justify;
        color:white;
        line-height: 17px;
        left:8%;
    }
    
}
@media(max-width:687px) and (min-width:519px){
    #educationcontainer{
        height: 750px;
    }
    #educationbody{
        display:block;
        margin: auto;
        width: 110%;
        max-width: 110%;
        height: 45%;
    }
    #infocontainer{
        left:0%;
        width:100%;
        max-width:100%;
        height: 80%;
    }
    #educationcontainer h1{
        font-size: .9rem;
        left:7%;
        color: rgb(58, 58, 58);
        margin-bottom: 7%;
    }
}
@media(max-width:389px) and (min-width:319px){
    #educationcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 100%;
        height: 600px;
    }
    #educationcontainer h1{
        position:relative;
        text-align: center;
        font-size: 0.9rem;
    }
    #educationbody{
        position: relative;
        display:block;
        margin: auto;
        width: 100%;
        max-width: 95%;
        height: 100%;
        border-radius: 5px;
    }
    #education{
        position: relative;
        display:block;
        margin: auto;
        width:100%;
        max-width:95%;
        height: 60%;
    }
    #experience{
        position: relative;
        display:block;
        margin: auto;
        width:100%;
        max-width:95%;
        height: 40%;
    }
    .bx-edit-alt{
        position: relative;
        top:4%;
        left:9%;
        font-size: 1.2rem;
        border-radius: 50%;
        color: #314c79;
        margin-right:50px;
    }
    .bxs-shopping-bag{
        position: relative;
        top:5.5%;
        left:9%;
        font-size: 1.2rem;
        border-radius: 50%;
        color: #314c79;
        margin-right:50px;
    }
    #educationspan{
        position: relative;
        font-size: 0.9rem;
        font-weight: 700;
        top:15px;
        color: #314c79;
    }
    #infocontainer{
        position:relative;
        top:2%;
        left:8.5%;
        width:100%;
        max-width:80%;
        height: 90%;
        background-color: #314c7993;
        backdrop-filter: blur();
        border-radius:5px;
    }
    #educationyear{
        position:relative;
        color: white;
        margin:none;
        top:5%;
        left:9%;
        font-weight: 600;
        border-left: 2px solid white;
        height:50px;
        padding-left: 5px;
    }
    #experienceyear{
        position:relative;
        color: white;
        margin:none;
        top:5%;
        left:9%;
        font-weight: 600;
        border-left: 2px solid white;
        height:30px;
        padding-left: 5px;
    }
    #degreetext{
        position:relative;
        color: white;
        left:0px;
        margin:none;
        font-size: .9rem;
        top:0%;
        left:8%;
        font-weight: 600;
    }
    #university{
        position: relative;
        width: 100%;
        max-width: 80%;
        font-size: .9rem;
        text-align: justify;
        color:white;
        left:8%;
    }
    
}
@media(max-width:520px) and (min-width:375px){
    #educationcontainer h1{
        position:relative;
        text-align: center;
        font-size: 0.9rem;
    }
    #educationbody{
        position: relative;
        display:block;
        margin: auto;
        top:-2%;
        width: 100%;
        max-width: 75%;
        height: 100%;
        border-radius: 5px;
        background-color: transparent;
    }
    #education{
        position: relative;
        display:block;
        margin: auto;
        width:100%;
        max-width:95%;
        height: 60%;
    }
    #experience{
        position: relative;
        display:block;
        margin: auto;
        width:100%;
        max-width:95%;
        height: 40%;
    }
    .bx-edit-alt{
        position: relative;
        top:6%;
        left:9%;
        font-size: 1.2rem;
        border-radius: 50%;
        color: #314c79;
        margin-right:50px;
    }
    .bxs-shopping-bag{
        position: relative;
        top:7.5%;
        left:9%;
        font-size: 1.2rem;
        border-radius: 50%;
        color: #314c79;
        margin-right:50px;
    }
    #educationspan{
        position: relative;
        font-size: 0.9rem;
        font-weight: 700;
        top:15px;
        color: #314c79;
    }
    #infocontainer{
        position:relative;
        top:2%;
        left:8.5%;
        width:100%;
        max-width:80%;
        height: 90%;
        background-color: #314c7993;
        backdrop-filter: blur();
        border-radius:5px;
    }
    #educationyear{
        position:relative;
        color: white;
        margin:none;
        top:5%;
        left:9%;
        font-weight: 600;
        border-left: 2px solid white;
        height:50px;
        padding-left: 5px;
    }
    #experienceyear{
        position:relative;
        color: white;
        margin:none;
        top:5%;
        left:9%;
        font-weight: 600;
        border-left: 2px solid white;
        height:30px;
        padding-left: 5px;
    }
    #degreetext{
        position:relative;
        color: white;
        left:0px;
        margin:none;
        font-size: .9rem;
        top:0%;
        left:8%;
        font-weight: 600;
    }
    #university{
        position: relative;
        width: 100%;
        max-width: 80%;
        font-size: .9rem;
        text-align: justify;
        color:white;
        left:8%;
    }
    
}
@media(max-width:520px) and (min-width:375px){
    #educationspan{
    left:-3%;
    
    }
     #educationcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 100%;
        height: 650px;
        background-image: url('../img/pexels-christina-morillo-1181421.jpg');
        background-size: cover;
    }
    #educationcontainer h1{
        color:black;
        top:-4%;
    }
    #education{
        height: 55%;
    }
}
@media(max-width:375px){
    #educationspan{
    left:-3%;
    
    }
     #educationcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 100%;
        height: 700px;
        background-image: url('../img/pexels-christina-morillo-1181421.jpg');
        background-size: cover;
    }
    #educationbody{
        position: relative;
        display:block;
        margin: auto;
        top:-2%;
        width: 100%;
        max-width: 95%;
        height: 85%;
        border-radius: 5px;
        background-color: transparent;
    }
    #educationcontainer h1{
        color:black;
        top:-4%;
    }
    #education{
        height: 55%;
    }
}
@media(max-width:320px) and (min-width:280px){
    #educationspan{
    left:-3%;
    
    }
     #educationcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 100%;
        height: 700px;
        background-image: url('../img/pexels-christina-morillo-1181421.jpg');
        background-size: cover;
    }
    #educationbody{
        position: relative;
        display:block;
        margin: auto;
        top:-2%;
        width: 100%;
        max-width: 95%;
        height: 85%;
        border-radius: 5px;
        background-color: transparent;
    }
    #educationcontainer h1{
        color:black;
        top:-4%;
    }
    #education{
        height: 55%;
    }
}
