/*scalable for desktop and larger screens*/
@media(min-width:1536px){
    html{
        font-size: 14px;
    }
    #sidebar{
        display: none;
    }
    .catcontainer{
        display: none;
    }
    #headercontainer{
        position: relative;
        display: flex;
        width:100%;
        max-width:85%;
        height:500px;
        border-radius: 5px;
        margin: auto;
        background-image: url(../../../Newfolder54/20221006_033526.jpg);
        background-repeat: no-repeat;
        background-position-y:0px;
        background-size:cover;
    }
    button{
        display:none;
    }
    ul{
        position: relative;
        top:4%;
        width: 100%;
        right:-15%;
        max-width: 40%;
        display: flex;
    }
    li{
        list-style:none;
        margin-right:15%;
        font-weight: 600;
    }
    .shortinfo{
        position: relative;
        left:0%;
        top:0%;
        width: 100%;
        max-width: 50%;
        height: 100%;
        z-index: 999;
    }
    .titlecontainer{
        position: relative;
        right:0%;
        top:0%;
        width: 100%;
        max-width: 50%;
        height: 100%;
        z-index: 999;
    }
    .titlecontainer ul li a{
        color: white;
        font-weight:600;
        text-decoration: none;
    }
    .titlecontainer ul li a:hover{
        color: black;
    }
    .heading{
        position: relative;
        width: 100%;
        padding:5px;
        text-align: center;
        border-radius: 5px;
        max-width: 17.5%;
        left:10%;
        top:18%;
        font-size: 1.5rem;
        margin-bottom: 50px;
        font-weight: 600;
        color:white;
        z-index: 999;
        background-color: rgb(19, 89, 241);
    }
    #headbody{
        position: relative;
        width: 100%;
        max-width: 95%;
        top:15%;
        left:10%;
        line-height: 25px;
        font-size: 1.2rem;
        text-align: justify;
        color: white;
    }
    #headbody span{
       font-size: 1.2rem;
       font-weight: 700;
    }
    #medialink{
        position: relative;
        display: flex;
        top:15%;
        left:0%;
        width:100%;
        max-width: 50%;
        height: 9%;
        z-index: 999;
       
    }
    #medialink ul{
        position: relative;
        width: 100%;
        max-width: 100%;
        height: 100%;

    }
    #medialink ul li{
        margin-right:25px;
    }
    .bxl-facebook, .bxl-twitter, .bxl-linkedin-square, .bxl-github{
        position: relative;
        left: -40px;
        top:5%;
        font-size: 1.7rem;
        padding:2px;
        color: white;
    }
    .bxl-github:hover{
        color: black;
    }
    .bxl-facebook:hover{
        color: #1773ea;
    }
    .bxl-twitter:hover{
        color:#1c96e9;
    }
    .bxl-linkedin-square:hover{
        color:#0a63bc;
    }
    #background-effect1{
        position:absolute;
        left:10%;
        top:16%;
        transform: rotate(40deg);
        width:100%;
        max-width: 30%;
        height: 65%;
        background-color:  rgb(160, 216, 233,0.3);
        z-index: 0;
    }
}
@media (min-width:1280px) and (max-width:1535px){
    html{
        font-size: 14px;
    }
    #sidebar{
        display: none;
    }
    .catcontainer{
        display: none;
    }
    #headercontainer{
        position: relative;
        display: flex;
        width:100%;
        max-width:90%;
        border-radius: 5px;
        height:500px;
        margin: auto;
        background-image: url(../../../Newfolder54/20221006_033526.jpg);
        background-repeat: no-repeat;
        background-position-y:0px;
        background-size:cover;
    }
    button{
        display:none;
    }
    ul{
        position: relative;
        top:4%;
        width: 100%;
        right:-15%;
        max-width: 40%;
        display: flex;
    }
    li{
        list-style:none;
        margin-right:15%;
        font-weight: 600;
    }
    .shortinfo{
        position: relative;
        left:0%;
        top:0%;
        width: 100%;
        max-width: 50%;
        height: 100%;
        z-index: 999;
    }
    .titlecontainer{
        position: relative;
        right:0%;
        top:0%;
        width: 100%;
        max-width: 50%;
        height: 100%;
        z-index: 999;
    }
    .titlecontainer ul li a{
        color: white;
        font-weight:600;
        text-decoration: none;
    }
    .titlecontainer ul li a:hover{
        color: black;
    }
    .heading{
        position: relative;
        width: 100%;
        padding:5px;
        text-align: center;
        border-radius: 5px;
        max-width: 17.5%;
        left:10%;
        top:18%;
        font-size: 1.5rem;
        margin-bottom: 50px;
        font-weight: 600;
        color:white;
        z-index: 999;
        background-color: rgb(19, 89, 241);
    }
    #headbody{
        position: relative;
        width: 100%;
        max-width: 95%;
        top:15%;
        left:10%;
        line-height: 25px;
        font-size: 1.2rem;
        text-align: justify;
        color: white;
    }
    #headbody span{
       font-size: 1.2rem;
       font-weight: 700;
    }
    #medialink{
        position: relative;
        display: flex;
        top:15%;
        left:0%;
        width:100%;
        max-width: 50%;
        height: 9%;
        z-index: 999;
       
    }
    #medialink ul{
        position: relative;
        width: 100%;
        max-width: 100%;
        height: 100%;

    }
    #medialink ul li{
        margin-right:25px;
    }
    .bxl-facebook, .bxl-twitter, .bxl-linkedin-square, .bxl-github{
        position: relative;
        left: -40px;
        top:5%;
        font-size: 1.7rem;
        padding:2px;
        color: white;
    }
    .bxl-github:hover{
        color: black;
    }
    .bxl-facebook:hover{
        color: #1773ea;
    }
    .bxl-twitter:hover{
        color:#1c96e9;
    }
    .bxl-linkedin-square:hover{
        color:#0a63bc;
    }
    #background-effect1{
        position:absolute;
        left:10%;
        top:16%;
        transform: rotate(40deg);
        width:100%;
        max-width: 30%;
        height: 65%;
        background-color:  rgb(160, 216, 233,0.3);
        z-index: 0;
    }
}
@media (min-width:1024px) and (max-width:1279px){
    html{
        font-size: 14px;
    }
    #sidebar{
        display: none;
    }
    .catcontainer{
        display: none;
    }
    #headercontainer{
        position: relative;
        display: flex;
        width:100%;
        max-width:100%;
        height:500px;
        border-radius: 5px;
        background-image: url(../../../Newfolder54/20221006_033526.jpg);
        background-repeat: no-repeat;
        background-position-y:0px;
        background-size:cover;
    }
    button{
        display:none;
    }
    ul{
        position: relative;
        top:4%;
        width: 100%;
        right:-15%;
        max-width: 40%;
        display: flex;
    }
    li{
        list-style:none;
        margin-right:15%;
        font-weight: 600;
    }
    .shortinfo{
        position: relative;
        left:0%;
        top:0%;
        width: 100%;
        max-width: 50%;
        height: 100%;
        z-index: 999;
    }
    .titlecontainer{
        position: relative;
        right:0%;
        top:0%;
        width: 100%;
        max-width: 50%;
        height: 100%;
        z-index: 999;
    }
    .titlecontainer ul li a{
        color: white;
        font-weight:600;
        text-decoration: none;
    }
    .titlecontainer ul li a:hover{
        color: black;
    }
    .heading{
        position: relative;
        width: 100%;
        padding:5px;
        text-align: center;
        border-radius: 5px;
        max-width: 17.5%;
        left:10%;
        top:18%;
        font-size: 1.5rem;
        margin-bottom: 50px;
        font-weight: 600;
        color:white;
        z-index: 999;
        background-color: rgb(19, 89, 241);
    }
    #headbody{
        position: relative;
        width: 100%;
        max-width: 95%;
        top:15%;
        left:10%;
        line-height: 25px;
        font-size: 1.2rem;
        text-align: justify;
        color: white;
    }
    #headbody span{
       font-size: 1.2rem;
       font-weight: 700;
    }
    #medialink{
        position: relative;
        display: flex;
        top:15%;
        left:0%;
        width:100%;
        max-width: 50%;
        height: 9%;
        z-index: 999;
       
    }
    #medialink ul{
        position: relative;
        width: 100%;
        max-width: 100%;
        height: 100%;

    }
    #medialink ul li{
        margin-right:25px;
    }
    .bxl-facebook, .bxl-twitter, .bxl-linkedin-square, .bxl-github{
        position: relative;
        left: -40px;
        top:5%;
        font-size: 1.7rem;
        padding:2px;
        color: white;
    }
    .bxl-github:hover{
        color: black;
    }
    .bxl-facebook:hover{
        color: #1773ea;
    }
    .bxl-twitter:hover{
        color:#1c96e9;
    }
    .bxl-linkedin-square:hover{
        color:#0a63bc;
    }
    #background-effect1{
        position:absolute;
        left:10%;
        top:16%;
        transform: rotate(40deg);
        width:100%;
        max-width: 30%;
        height: 65%;
        background-color:  rgb(160, 216, 233,0.3);
        z-index: 0;
    }
}
@media (min-width:769px) and (max-width:1023px){
    html{
        font-size: 14px;
    }
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        color:black
    }
    .catcontainer{
        display: none;
    }
    #sidebar{
        display: none;
    }
    #headercontainer{
        position: relative;
        display: flex;
        width:100%;
        max-width:100%;
        height:500px;
        background-image: url(../../../Newfolder54/20221006_033526.jpg);
        background-repeat: no-repeat;
        background-position-y:0px;
        background-size:cover;
    }
    button{
        display:none;
    }
    ul{
        position: relative;
        top:2%;
        width: 100%;
        right:-10%;
        max-width: 40%;
        display: flex;
    }
    li{
        list-style:none;
        margin-right:15%;
        font-weight: 600;
    }
    .shortinfo{
        position: relative;
        left:0%;
        top:0%;
        width: 100%;
        max-width: 50%;
        height: 100%;
        z-index: 999;
    }
    .titlecontainer{
        position: relative;
        right:0%;
        top:0%;
        width: 100%;
        max-width: 50%;
        height: 100%;
        z-index: 999;
    }
    .titlecontainer ul{
        position: relative;
        left:-2%;
    }
    .heading{
        position: relative;
        width: 100%;
        padding:5px;
        text-align: center;
        border-radius: 5px;
        max-width: 17.5%;
        left:10%;
        top:18%;
        font-size: 1.3rem;
        margin-bottom: 50px;
        font-weight: 600;
        color:white;
        z-index: 999;
        background-color: rgb(19, 89, 241);
    }
    #headbody{
        position: relative;
        width: 100%;
        max-width: 95%;
        top:15%;
        left:10%;
        line-height: 25px;
        font-size: 1.1rem;
        text-align: justify;
        color: white;
    }
    #headbody span{
       font-size: 1.2rem;
       font-weight: 700;
    }
    #medialink{
        position: relative;
        display: flex;
        top:15%;
        left:4%;
        width:100%;
        max-width: 50%;
        height: 9%;
        z-index: 999;
       
    }
    #medialink ul{
        position: relative;
        width: 100%;
        max-width: 100%;
        height: 100%;

    }
    #medialink ul li{
        margin-right:25px;
    }
    .bxl-facebook, .bxl-twitter, .bxl-linkedin-square, .bxl-github{
        position: relative;
        left: -40px;
        top:5%;
        font-size: 1.7rem;
        color:none;
        padding:2px;
    }
    .bxl-github:hover{
        color: black;
    }
    .bxl-facebook:hover{
        color: #1773ea;
    }
    .bxl-twitter:hover{
        color:#1c96e9;
    }
    .bxl-linkedin-square:hover{
        color:#0a63bc;
    }
    #background-effect1{
        position:absolute;
        left:10%;
        top:16%;
        transform: rotate(40deg);
        width:100%;
        max-width: 30%;
        height: 65%;
        background-color:  rgb(160, 216, 233,0.3);
        z-index: 0;
    }
}
/*scalable for mobile devices*/
@media (max-width:768px) and (min-width:519px){
    html{
        font-size: 14px;
    }
    .titlecontainer{
        display: none;
    }
    .catcontainer{
        position: relative;
        top:3%;
        left:25%;
        width: 100%;
        max-width: 10%;
        height: 8%;
        z-index: 999;
    }
    #sidebar{
        position: absolute;
        display: block;
        top: 0%;
        right: -50%;
        width: 100%;
        max-width: 35%;
        height: 400px;
        background-color: rgba(0, 0, 0, 0.7);
        transition: all .5s ease-in;
        z-index: 998;
    }
    #sidebar ul{
        position:relative;
        display: block;
        top:15%;
        width: 100%;
        max-width: fit-content;
        height: 30%;
        left: 25%;
    }
    #sidebar ul li{
        position: relative;
        width:100%;
        height:20%;
        color:white;
        text-align: center;
        list-style: none;
        margin-bottom: 10px;
    }
    #headercontainer{
        position: relative;
        display: flex;
        width:100%;
        max-width:100%;
        height:400px;
        background-image: url(../../../Newfolder54/20221006_033526.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
    }
    .catcontainer button{
        position: relative;
        left:15%;
        top:3%;
        background-color: transparent;
        width:100%;
        max-width: 6%;
        height: 8%;
        border: none;
    }
    .catcontainer button .bxs-category-alt{
        position: relative;
        color: rgba(255, 255, 255, 0.9);
        max-width: 100%;
        font-size: 1.7rem;
    }
    .titlecontainer ul{
        position: relative;
        top:10px;
        width: 100%;
        left:58%;
        max-width: 40%;
        display: none;
    }
    .titlecontainer ul li{
        list-style:none;
        display: none;
        margin-right:30px;
        font-weight: 600;
    }
    .shortinfo{
        position: relative;
        left:0%;
        top:0%;
        width: 100%;
        max-width: 65%;
        height: 100%;
        line-height:20px;
        z-index: 995;
    }
    .heading{
        position: relative;
        width: 100%;
        padding:5px;
        text-align: center;
        border-radius: 5px;
        max-width: 18%;
        left:5%;
        top:15%;
        font-size: 1.2rem;
        margin-bottom: 10px;
        font-weight: 600;
        color:white;
        background-color: rgb(19, 89, 241);
    }
    #headbody{
        position: relative;
        width: 100%;
        max-width: 95%;
        left:5%;
        top:18%;
        line-height: 25px;
        font-size: 1.05rem;
        text-align: justify;
        color: white;
    }
    #headbody span{
       font-size: 1.2rem;
       font-weight: 700;
    }
    #medialink{
        position: relative;
        display:flex;
        top:15%;
        left:2%;
        width:100%;
        max-width: 50%;
        height: 9%;
    }
    #medialink ul{
        position: relative;
        display: flex;
        width: 100%;
        max-width: 100%;
        height: 100%;
        list-style: none;
    }
    #medialink ul li{
        margin-right:25px;
    }
    .bxl-facebook, .bxl-twitter, .bxl-linkedin-square, .bxl-github{
        position: relative;
        left: -40px;
        top:5%;
        font-size: 1.7rem;
        padding:2px;
        color: none;
    }
    .bxl-facebook:hover{
        color: #1773ea;
    }
    .bxl-twitter:hover{
        color:#1c96e9;
    }
    .bxl-linkedin-square:hover{
        color:#0a63bc;
    }
    .bxl-github:hover{
        color:black;
    }
    #background-effect1{
        position:absolute;
        left:10%;
        top:20%;
        transform: rotate(45deg);
        width:100%;
        max-width: 40%;
        height: 50%;
        background-color:  rgb(160, 216, 233,0.3);
        z-index: 0;
    }
}
@media (max-width:520px) and (min-width:390px){
    html{
        font-size: 14px;
    }
    .titlecontainer{
        display: none;
    }
    .catcontainer{
        position: relative;
        top:8%;
        left:25%;
        width: 100%;
        max-width: 10%;
        height: 8%;
        z-index: 999;
    }
    #sidebar{
        position: absolute;
        display: block;
        top: 0%;
        right: -50%;
        width: 100%;
        max-width: 35%;
        height: 350px;
        background-color: rgba(0, 0, 0, 0.7);
        transition: all .5s ease-in;
        z-index: 998;
    }
    #sidebar ul{
        position:relative;
        display: block;
        left:13%;
        top:20%;
        width: 100%;
        max-width: fit-content;
        height: 30%;
    }
    #sidebar ul li{
        position: relative;
        width:100%;
        height:20%;
        color:white;
        text-align: center;
        list-style: none;
        margin-bottom: 10px;
    }
    #headercontainer{
        position: relative;
        display: flex;
        width:100%;
        max-width:100%;
        height:350px;
        background-image: url(../../../Newfolder54/20221006_033526.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
    }
    .catcontainer button{
        position: relative;
        left:15%;
        top:3%;
        background-color: transparent;
        width:100%;
        max-width: 6%;
        height: 8%;
        border: none;
    }
    .catcontainer button .bxs-category-alt{
        position: relative;
        color: rgba(255, 255, 255, 0.9);
        max-width: 100%;
        font-size: 1.5rem;
    }
    .titlecontainer ul{
        position: relative;
        top:10px;
        width: 100%;
        left:58%;
        max-width: 40%;
        display: none;
    }
    .titlecontainer ul li{
        list-style:none;
        display: none;
        margin-right:30px;
        font-weight: 600;
    }
    .shortinfo{
        position: relative;
        left:0%;
        top:0%;
        width: 100%;
        max-width: 65%;
        height: 100%;
        line-height:20px;
        z-index: 995;
    }
    .heading{
        position: relative;
        width: 100%;
        padding:5px;
        text-align: center;
        border-radius: 5px;
        max-width: 21%;
        left:5%;
        top:15%;
        font-size: 1.2rem;
        margin-bottom: 10px;
        font-weight: 600;
        color:white;
        background-color: rgb(19, 89, 241);
    }
    #headbody{
        position: relative;
        width: 100%;
        max-width: 95%;
        left:5%;
        top:18%;
        line-height: 20px;
        font-size: .9rem;
        text-align: justify;
        color: white;
    }
    #headbody span{
       font-size: 1.1rem;
       font-weight: 700;
    }
    #medialink{
        position: relative;
        display:flex;
        top:20%;
        margin-left: 10%;
        width:100%;
        max-width: 50%;
        height: 9%;
    }
    #medialink ul{
        position: relative;
        display: flex;
        width: 100%;
        max-width: 100%;
        height: 100%;
        list-style: none;
    }
    #medialink ul li{
        margin-right:15px;
    }
    .bxl-facebook, .bxl-twitter, .bxl-linkedin-square, .bxl-github{
        position: relative;
        left: -40px;
        top:5%;
        font-size: 1.4rem;
        padding:2px;
        color: none;
    }
    #background-effect1{
        position:absolute;
        left:10%;
        top:20%;
        transform: rotate(45deg);
        width:100%;
        max-width: 40%;
        height: 50%;
        background-color:  rgb(160, 216, 233,0.3);
        z-index: 0;
    }
}
@media(max-width:450px){
    .bxl-github{
        top:-4%;
        font-size: 1;
        color: black;
    }
    .bxl-facebook{
        background-color: #1773ea;
        font-size: 1rem;
        border-radius: 50%;
    }
    .bxl-twitter{
        background-color:#1c96e9;
        border-radius: 50%;
        font-size: 1rem;
    }
    .bxl-linkedin-square{
        color:#0a63bc;
        border-radius: 50%;
        background-color: white;
        font-size: 1rem;
    }
}
@media (max-width:389px) and (min-width:320px){
    html{
        font-size: 14px;
    }
    a{
        color: white;
        text-decoration: none;
    }
    .titlecontainer{
        display: none;
    }
    .catcontainer{
        position: relative;
        top:8%;
        left:25%;
        width: 100%;
        max-width: 10%;
        height: 8%;
        z-index: 999;
    }
    #sidebar{
        position: absolute;
        display: block;
        top: 0%;
        right: -50%;
        width: 100%;
        max-width: 35%;
        height: 350px;
        background-color: rgba(0, 0, 0, 0.7);
        transition: all .5s ease-in;
        z-index: 998;
    }
    #sidebar ul{
        position:relative;
        display: block;
        left:9%;
        top:20%;
        width: 100%;
        max-width: fit-content;
        height: 30%;
    }
    #sidebar ul li{
        position: relative;
        width:100%;
        height:20%;
        color:white;
        text-align: center;
        list-style: none;
        margin-bottom: 10px;
    }
    #headercontainer{
        position: relative;
        display: flex;
        width:100%;
        max-width:100%;
        height:350px;
        background-image: url(../../../Newfolder54/20221006_033526.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
    }
    .catcontainer button{
        position: relative;
        left:15%;
        top:3%;
        background-color: transparent;
        width:100%;
        max-width: 6%;
        height: 8%;
        border: none;
    }
    .catcontainer button .bxs-category-alt{
        position: relative;
        color: rgba(255, 255, 255, 0.9);
        max-width: 100%;
        font-size: 1.5rem;
    }
    .titlecontainer ul{
        position: relative;
        top:10px;
        width: 100%;
        left:58%;
        max-width: 40%;
        display: none;
    }
    .titlecontainer ul li{
        list-style:none;
        display: none;
        margin-right:30px;
        font-weight: 600;
    }
    .shortinfo{
        position: relative;
        left:0%;
        top:0%;
        width: 100%;
        max-width: 65%;
        height: 100%;
        line-height:20px;
        z-index: 995;
    }
    .heading{
        position: relative;
        width: 100%;
        padding:5px;
        text-align: center;
        border-radius: 5px;
        max-width: 24%;
        left:5%;
        top:15%;
        font-size: 1rem;
        margin-bottom: 10px;
        font-weight: 600;
        color:white;
        background-color: rgb(19, 89, 241);
    }
    #headbody{
        position: relative;
        width: 100%;
        max-width: 95%;
        left:5%;
        top:18%;
        line-height: 20px;
        font-size: .9rem;
        text-align: justify;
        color: white;
    }
    #headbody span{
       font-size: .9rem;
       font-weight: 700;
    }
    #medialink{
        position: relative;
        display:flex;
        top:15%;
        left:2%;
        width:100%;
        max-width: 50%;
        height: 9%;
    }
    #medialink ul{
        position: relative;
        display: flex;
        left:8%;
        width: 100%;
        max-width: 100%;
        height: 100%;
        list-style: none;
    }
    #medialink ul li{
        margin-right:25px;
    }
    .bxl-facebook, .bxl-twitter, .bxl-linkedin-square, .bxl-github{
        position: relative;
        left: -40px;
        top:5%;
        font-size: 1rem;
        padding:2px;
        color: none;
    }
    .bxl-github{
        top:-4%;
        font-size: 1.4rem;
        color: black;
    }
    .bxl-facebook{
        background-color: #1773ea;
        border-radius: 50%;
    }
    .bxl-twitter{
        background-color:#1c96e9;
        border-radius: 50%;
    }
    .bxl-linkedin-square{
        color:#0a63bc;
        border-radius: 50%;
        background-color: white;
    
    }
    #background-effect1{
        position:absolute;
        left:10%;
        top:20%;
        transform: rotate(45deg);
        width:100%;
        max-width: 40%;
        height: 50%;
        background-color:  rgb(160, 216, 233,0.3);
        z-index: 0;
    }
}