@media(min-width:1536px){
    .projects div a{
        color:white;
        text-decoration: none;
    }
    .projectcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 85%;
        margin: auto;
        height: 450px;
        margin-top: .5%;
    }
    #project-header{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: fit-content;
        top:0%;
        height: 3%;
        padding:10px;
        margin: auto;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 5%;
        color: black;
        border-bottom: 3px solid rgb(19, 89, 241);
    }
    .projectcontainer p{
        position: relative;
        top:-9%;
        font-size: 1.1rem;
        text-align: center;
    }
    .projects{
        position:relative;
        display: flex;
        width: 100%;
        top:-10%;
        max-width:70%;
        height: 70%;
        margin: auto;
    }
    .projects div{
        position: relative;
        display: block;
        width: 100%;
        max-width: 48%;
        height: 100%;
        margin-right: 10px;
        border-radius:5px;
    }
    .projects div img{
        position: relative;
        width: 100%;
        max-width: 100%;
        height:65%;
    }
    #project-title{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: fit-content;
        top:0%;
        height: 3%;
        padding:15px;
        margin: auto;
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 5%;
        color: black;
    }
    .sourcelink div{
        position:relative;
        display: flex;
        width: 100%;
        max-width: fit-content;
        padding-right:25px;
        height: 10%;
        margin: auto;
        background-color: black;
    }
    .sourcelink div h5{
        position: relative;
        left: 12%;
        top:-36%;
    }
    #github{
        position: relative;
        left:8%;
        margin: auto;
        font-size: 1.3rem;
        color: white;
    }
}
@media(min-width:1280px) and (max-width:1535px){
    .projects div a{
        color:white;
        text-decoration: none;
    }
    .projectcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 90%;
        margin: auto;
        height: 450px;
        margin-top: .5%;
    }
    #project-header{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: fit-content;
        top:0%;
        height: 3%;
        padding:10px;
        margin: auto;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 5%;
        color: black;
        border-bottom: 3px solid rgb(19, 89, 241);
    }
    .projectcontainer p{
        position: relative;
        top:-9%;
        font-size: 1.1rem;
        text-align: center;
    }
    .projects{
        position:relative;
        display: flex;
        width: 100%;
        top:-10%;
        max-width: 80%;
        height: 70%;
        margin: auto;
    }
    .projects div{
        position: relative;
        display: block;
        width: 100%;
        max-width: 48%;
        height: 100%;
        margin-right: 10px;
        border-radius:5px;
    }
    .projects div img{
        position: relative;
        width: 100%;
        max-width: 100%;
        height:65%;
    }
    #project-title{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: fit-content;
        top:0%;
        height: 3%;
        padding:15px;
        margin: auto;
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 5%;
        color: black;
    }
    .sourcelink div{
        position:relative;
        display: flex;
        width: 100%;
        max-width: fit-content;
        padding-right:20px;
        height: 10%;
        margin: auto;
        background-color: black;
    }
    .sourcelink div h5{
        position: relative;
        left: 7%;
        top:-33%;
    }
    #github{
        position: relative;
        left:5%;
        margin: auto;
        font-size: 1.3rem;
        color: white;
    }
}
@media(min-width:1024px) and (max-width:1279px){
    .projects div a{
        color:white;
        text-decoration: none;
    }
    .projectcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 100%;
        height: 450px;
        margin-top: .5%;
    }
    #project-header{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: fit-content;
        top:0%;
        height: 3%;
        padding:10px;
        margin: auto;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 5%;
        color: black;
        border-bottom: 3px solid rgb(19, 89, 241);
    }
    .projectcontainer p{
        position: relative;
        top:-9%;
        font-size: 1.1rem;
        text-align: center;
    }
    .projects{
        position:relative;
        display: flex;
        width: 100%;
        top:-10%;
        max-width: 75%;
        height: 70%;
        margin: auto;
    }
    .projects div{
        position: relative;
        display: block;
        width: 100%;
        max-width: 48%;
        height: 100%;
        margin-right: 10px;
        border-radius:5px;
    }
    .projects div img{
        position: relative;
        width: 100%;
        max-width: 100%;
        height:65%;
    }
    #project-title{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: fit-content;
        top:0%;
        height: 3%;
        padding:15px;
        margin: auto;
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: 5%;
        color: black;
    }
    .sourcelink div{
        position:relative;
        display: flex;
        width: 100%;
        max-width: fit-content;
        padding-right:20px;
        height: 10%;
        margin: auto;
        background-color: black;
    }
    .sourcelink div h5{
        position: relative;
        left: 7%;
        top:-40%;
    }
    #github{
        position: relative;
        left:5%;
        top:15%;
        font-size: 1.3rem;
        color: white;
    }
}
@media(max-width:1023px) and (min-width:769px){
    a:hover{
        color:white;
    }
    .projectcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 100%;
        height: 450px;
        margin-top: .5%;
    }
    #project-header{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: fit-content;
        top:0%;
        height: 3%;
        padding:12px;
        margin: auto;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 7%;
        color: black;
        border-bottom: 3px solid rgb(19, 89, 241);
    }
    .projectcontainer p{
        position: relative;
        top:-12%;
        font-size: 1.1rem;
        text-align: center;
    }
    .projects{
        position:relative;
        display: flex;
        width: 100%;
        top:-10%;
        max-width: 90%;
        height: 70%;
        margin: auto;
    }
    .projects div{
        position: relative;
        display: block;
        width: 100%;
        max-width: 48%;
        height: 100%;
        margin-right: 10px;
        border-radius:5px;
    }
    .projects div img{
        position: relative;
        width: 100%;
        max-width: 100%;
        height:65%;
    }
    #project-title{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: fit-content;
        top:0%;
        height: 3%;
        padding:15px;
        margin: auto;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 5%;
        color: black;
    }
    .sourcelink div{
        position:relative;
        display: flex;
        width: 100%;
        max-width: fit-content;
        padding-right: 20px;
        height: 10%;
        margin: auto;
        background-color: black;
    }
    .sourcelink div h5{
        position: relative;
        font-size: .8rem;
        left: 8%;
        font-weight: 700;
        top:-35%;
    }
    #github{
        position: relative;
        left:5%;
        margin: auto;
        font-size:1.3rem;
        color: white;
    }
}

/*Query for tablets and mobile devices*/
@media(max-width:768px) and (min-width:687px){
    a{
        text-decoration: none;
        color:white;
    }
    .projectcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 100%;
        height: 450px;
        margin-top: .5%;
    }
    #project-header{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: fit-content;
        top:0%;
        height: 3%;
        padding:12px;
        margin: auto;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 9%;
        color: black;
        border-bottom: 3px solid rgb(19, 89, 241);
    }
    .projectcontainer p{
        position: relative;
        top:-12%;
        font-size: .9rem;
        text-align: center;
    }
    .projects{
        position:relative;
        display: flex;
        width: 100%;
        top:-10%;
        max-width: 90%;
        height: 70%;
        margin: auto;
    }
    .projects div{
        position: relative;
        display: block;
        width: 100%;
        max-width: 48%;
        height: 100%;
        margin-right: 10px;
        border-radius:5px;
    }
    .projects div img{
        position: relative;
        width: 100%;
        max-width: 100%;
        height:65%;
    }
    #project-title{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: fit-content;
        top:0%;
        height: 3%;
        padding:15px;
        margin: auto;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 5%;
        color: black;
    }
    .sourcelink div{
        position:relative;
        display: flex;
        width: 100%;
        max-width: 70%;
        padding-right: 15px;
        height: 10%;
        margin: auto;
        background-color: black;
    }
    .sourcelink div h5{
        position: relative;
        width:100%;
        left: 6%;
        font-size: .8rem;
        top:-30%;
    }
    #github{
        position: relative;
        left:0%;
        margin: auto;
        font-size: 1.2rem;
        margin-left:8%;
        color: white;
    }
}
@media(max-width:686px) and (min-width:519px){
    a{
        text-decoration: none;
        color:white;
    }
    .projectcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 100%;
        height: 1000px;
        margin-top: .5%;
    }
    #project-header{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: fit-content;
        top:0%;
        height: 2%;
        padding:2px;
        margin: auto;
        font-size: .9rem;
        font-weight: 700;
        margin-bottom: 25%;
        color: black;
        border-bottom: 3px solid rgb(19, 89, 241);
    }
    .projectcontainer p{
        position: relative;
        top:-12%;
        font-size: .9rem;
        text-align: center;
    }
    .projects{
        position:relative;
        display: block;
        width: 100%;
        top:-10%;
        max-width: 70%;
        height: 80%;
        margin: auto;
        background-color: white;
    }
    .projects div{
        position: relative;
        display: block;
        width: 100%;
        max-width: 60%;
        height: 38%;
        margin-right: 10px;
        border-radius:5px;
        margin: auto;
        margin-top: 5%;
    }
    .projects div img{
        position: relative;
        width: 100%;
        max-width: 100%;
        height:65%;
    }
    #project-title{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: fit-content;
        top:0%;
        height: 3%;
        padding:15px;
        margin: auto;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 5%;
        color: black;
    }
    .sourcelink div{
        position:relative;
        display: flex;
        width: 100%;
        max-width: fit-content;
        padding-right: 25px;
        height: 10%;
        margin: auto;
        background-color: black;
    }
    .sourcelink div h5{
        position: relative;
        left: 15%;
        top:-42%;
    }
    #github{
        position: relative;
        left:14%;
        top:15%;
        font-size: 1.2rem;
        color: white;
    }
}
@media(max-width:589px) and (min-width:519px){
    .sourcelink div h5{
        position: relative;
        left: 11%;
        top:-45%;
    }
    #github{
        position: relative;
        left:10%;
        color: white;
    }
}
@media(max-width:520px) and (min-width:375px){
    a{
        text-decoration: none;
        color:white;
    }
    .projectcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 100%;
        height: 950px;
        margin-top: .5%;
    }
    #project-header{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: fit-content;
        top:0%;
        height: 2%;
        padding:5px;
        margin: auto;
        font-size: .9rem;
        font-weight: 700;
        margin-bottom: 32%;
        color: black;
        border-bottom: 3px solid rgb(19, 89, 241);
    }
    .projectcontainer p{
        position: relative;
        width:100%;
        left: 7%;
        max-width: 90%;
        top:-12%;
        font-size: .9rem;
        text-align: center;
    }
    .projects{
        position:relative;
        display: block;
        width: 100%;
        top:-10%;
        max-width: 80%;
        height: 65%;
        margin: auto;
        background-color: white;
    }
    .projects div{
        position: relative;
        display: block;
        width: 100%;
        max-width: 80%;
        height: 45%;
        margin-right: 10px;
        border-radius:5px;
        margin: auto;
        margin-top: 5%;
    }
    .projects div img{
        position: relative;
        width: 100%;
        max-width: 100%;
        height:65%;
    }
    #project-title{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: fit-content;
        top:0%;
        height: 3%;
        padding:15px;
        margin: auto;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 5%;
        color: black;
    }
    .sourcelink div{
        position:relative;
        display: flex;
        width: 100%;
        max-width: fit-content;
        height: 10%;
        margin: auto;
        background-color: black;
    }
    .sourcelink div h5{
        position: relative;
        left: 10%;
        font-size:0.8rem;
        top:-50%;
        padding-right:20px;
    }
    #github{
        position: relative;
        left:7%;
        font-size: 1.2rem;
        top:12%;
        color: white;
    }
}
@media(max-width:375px) and (min-width:319px){
    a{
        text-decoration: none;
        color:white;
    }
    .projectcontainer{
        position: relative;
        display:block;
        width: 100%;
        max-width: 100%;
        height: 950px;
        margin-top: .5%;
    }
    #project-header{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: fit-content;
        top:0%;
        height: 2%;
        padding:4px;
        margin: auto;
        font-size: .9rem;
        font-weight: 700;
        margin-bottom: 30%;
        color: black;
        border-bottom: 3px solid rgb(19, 89, 241);
    }
    .projectcontainer p{
        position: relative;
        top:-10%;
        font-size: .9rem;
        text-align: center;
    }
    .projects{
        position:relative;
        display: block;
        width: 100%;
        top:-10%;
        max-width: 80%;
        height: 100%;
        margin: auto;
        background-color: white;
    }
    .projects div{
        position: relative;
        display: block;
        width: 100%;
        max-width: 80%;
        height: 30%;
        margin-right: 10px;
        border-radius:5px;
        margin: auto;
        margin-top: 5%;
    }
    .projects div img{
        position: relative;
        width: 100%;
        max-width: 100%;
        height:65%;
    }
    #project-title{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: fit-content;
        top:0%;
        height: 3%;
        padding:15px;
        margin: auto;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 5%;
        color: black;
    }
    .sourcelink div{
        position:relative;
        display: flex;
        width: 100%;
        max-width: fit-content;
        height: 10%;
        margin: auto;
        background-color: black;
    }
    .sourcelink div h5{
        position: relative;
        left: 10%;
        font-size:.8rem;
        padding-right: 20px;
        top:-45%;
    }
    #github{
        position: relative;
        left:8%;
        top:20%;
        font-size: 1rem;
        color: white;
    }
}
