/*scalable for desktop and larger screens*/
@media (min-width:1536px){
    #skills{
        position: relative;
        display: block;
        width: 100%;
        max-width: 90%;
        margin:auto;
        height: 300px;
        border:none;
        background-color: white;
        border-radius: 5px;
    }
#skills h1{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: fit-content;
        top:-5%;
        height: 3%;
        padding:15px;
        left:45%;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 5%;
        color: black;
        border-bottom: 3px solid rgb(19, 89, 241);
}
#skillstext{
    position: relative;
        top:-45px;
        left: 34%;
        width: 100%;
        max-width: 35%;
        text-align:center;
        font-size: 1.1rem;
        color: black;
}
#skillbody{
    position: relative;
    display: flex;
    top:-14%;
    width: 100%;
    max-width: 100%;
    height:65%;
}
.skillcontent{
    position: relative;
    display: block;
    width:100%;
    max-width: 32%;
    margin-left:0.5%;
    margin-right:0.5%;
}
.skillcontent p{
    position: relative;
    font-weight: 600;
    font-size: 1.1rem;
    margin-left:5%;
}
.ratingcontainer{
    position: relative;
    top:-2%;
    width: 100%;
    max-width: 90%;
    height: 4%;
    background-color: rgb(233, 233, 233);
    left:5%;
    border-radius:5px;
}
#nodevalue{
    position: relative;
    width: 100%;
    max-width: 70%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#reactvalue{
    position: relative;
    width: 100%;
    max-width: 75%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#javascriptvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#htmlvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#webvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#mongodbvalue{
    position: relative;
    width: 100%;
    max-width: 50%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#algorithmsvalue{
    position: relative;
    width: 100%;
    max-width: 60%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#cssvalue{
    position: relative;
    width: 100%;
    max-width: 90%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#javavalue{
        position: relative;
        width: 100%;
        max-width: 60%;
        height: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: rgb(154, 221, 247);
}
}
@media (min-width:1280px) and (max-width:1535px){
    #skills{
        position: relative;
        display: block;
        width: 100%;
        max-width: 90%;
        margin:auto;
        height: 300px;
        border:none;
        background-color: white;
        border-radius: 5px;
    }
#skills h1{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: fit-content;
        top:-5%;
        height: 3%;
        padding:15px;
        left:45%;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 5%;
        color: black;
        border-bottom: 3px solid rgb(19, 89, 241);
}
#skillstext{
    position: relative;
        top:-45px;
        left: 34%;
        width: 100%;
        max-width: 35%;
        text-align:center;
        font-size: 1.1rem;
        color: black;
}
#skillbody{
    position: relative;
    display: flex;
    top:-14%;
    width: 100%;
    max-width: 100%;
    height:65%;
}
.skillcontent{
    position: relative;
    display: block;
    width:100%;
    max-width: 32%;
    margin-left:0.5%;
    margin-right:0.5%;
}
.skillcontent p{
    position: relative;
    font-weight: 600;
    font-size: 1.1rem;
    margin-left:5%;
}
.ratingcontainer{
    position: relative;
    top:-2%;
    width: 100%;
    max-width: 90%;
    height: 4%;
    background-color: rgb(233, 233, 233);
    left:5%;
    border-radius:5px;
}
#nodevalue{
    position: relative;
    width: 100%;
    max-width: 70%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#reactvalue{
    position: relative;
    width: 100%;
    max-width: 75%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#javascriptvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#htmlvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#webvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#mongodbvalue{
    position: relative;
    width: 100%;
    max-width: 50%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#algorithmsvalue{
    position: relative;
    width: 100%;
    max-width: 60%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#cssvalue{
    position: relative;
    width: 100%;
    max-width: 90%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#javavalue{
        position: relative;
        width: 100%;
        max-width: 60%;
        height: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: rgb(154, 221, 247);
}
}
@media (min-width:1024px) and (max-width:1279px){
    #skills{
        position: relative;
        display: block;
        width: 100%;
        max-width: 100%;
        height: 300px;
        border:none;
        background-color: white;
        border-radius: 5px;
    }
#skills h1{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: fit-content;
        top:-5%;
        height: 3%;
        padding:15px;
        left:45%;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 5%;
        color: black;
        border-bottom: 3px solid rgb(19, 89, 241);
}
#skillstext{
    position: relative;
        top:-45px;
        left: 34%;
        width: 100%;
        max-width: 35%;
        text-align:center;
        font-size: 1.1rem;
        color: black;
}
#skillbody{
    position: relative;
    display: flex;
    top:-14%;
    width: 100%;
    max-width: 100%;
    height:65%;
}
.skillcontent{
    position: relative;
    display: block;
    width:100%;
    max-width: 32%;
    margin-left:0.5%;
    margin-right:0.5%;
}
.skillcontent p{
    position: relative;
    font-weight: 600;
    font-size: 1.1rem;
    margin-left:5%;
}
.ratingcontainer{
    position: relative;
    top:-2%;
    width: 100%;
    max-width: 90%;
    height: 4%;
    background-color: rgb(233, 233, 233);
    left:5%;
    border-radius:5px;
}
#nodevalue{
    position: relative;
    width: 100%;
    max-width: 70%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#reactvalue{
    position: relative;
    width: 100%;
    max-width: 75%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#javascriptvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#htmlvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#webvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#mongodbvalue{
    position: relative;
    width: 100%;
    max-width: 50%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#algorithmsvalue{
    position: relative;
    width: 100%;
    max-width: 60%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#cssvalue{
    position: relative;
    width: 100%;
    max-width: 90%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#javavalue{
        position: relative;
        width: 100%;
        max-width: 60%;
        height: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: rgb(154, 221, 247);
}
}
@media (max-width:1023px) and (min-width:769px) {
    #skills{
        position: relative;
        display: block;
        width: 100%;
        max-width: 100%;
        height: 300px;
        border:none;
        background-color: white;
        border-radius: 5px;
    }
#skills h1{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: fit-content;
        top:-5%;
        height: 3%;
        padding:15px;
        left:45%;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 5%;
        color: black;
        border-bottom: 3px solid rgb(19, 89, 241);
}
#skillstext{
    position: relative;
        top:-45px;
        left: 34%;
        width: 100%;
        max-width: 35%;
        text-align:center;
        font-size: 1.1rem;
        color: black;
}
#skillbody{
    position: relative;
    display: flex;
    top:-14%;
    width: 100%;
    max-width: 100%;
    height:65%;
}
.skillcontent{
    position: relative;
    display: block;
    width:100%;
    max-width: 32%;
    margin-left:0.5%;
    margin-right:0.5%;
}
.skillcontent p{
    position: relative;
    font-weight: 600;
    font-size: 1.1rem;
    margin-left:5%;
}
.ratingcontainer{
    position: relative;
    top:-2%;
    width: 100%;
    max-width: 90%;
    height: 4%;
    background-color: rgb(233, 233, 233);
    left:5%;
    border-radius:5px;
}
#nodevalue{
    position: relative;
    width: 100%;
    max-width: 70%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#reactvalue{
    position: relative;
    width: 100%;
    max-width: 75%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#javascriptvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#htmlvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#webvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#mongodbvalue{
    position: relative;
    width: 100%;
    max-width: 50%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#algorithmsvalue{
    position: relative;
    width: 100%;
    max-width: 60%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#cssvalue{
    position: relative;
    width: 100%;
    max-width: 90%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#javavalue{
        position: relative;
        width: 100%;
        max-width: 60%;
        height: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: rgb(154, 221, 247);
}
}
/*scalable for mobile devices*/
@media (max-width:768px) and (min-width:519px) {
    #skills{
        position: relative;
        display: block;
        width: 100%;
        max-width: 100%;
        height: 280px;
        border:none;
        background-color: white;
        border-radius: 5px;
    }
    #skills h1{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: fit-content;
        top:5%;
        height: 3%;
        padding-bottom:15px;
        margin:auto;
        font-size: 0.9rem;
        font-weight: 700;
        margin-bottom: 4%;
        color: black;
        border-bottom: 3px solid rgb(19, 89, 241);
}
#skillstext{
    position: relative;
    width: 100%;
    max-width: 55%;
    margin: auto;
    margin-bottom: 15%;
    text-align:center;
    font-size: .9rem;
    color: black;
}
#skillbody{
    position: relative;
    display: flex;
    top:-25%;
    width: 100%;
    max-width: 100%;
    height:65%;
}
.skillcontent{
    position: relative;
    display: block;
    width:100%;
    max-width: 32%;
    margin-left:0.5%;
    margin-right:0.5%;
}
.skillcontent p{
    position: relative;
    font-weight: 600;
    font-size: 0.9rem;
    margin-left:5%;
}
.ratingcontainer{
    position: relative;
    top:-2%;
    width: 100%;
    max-width: 90%;
    height: 4%;
    background-color: rgb(233, 233, 233);
    left:5%;
    border-radius:5px;
}
#nodevalue{
    position: relative;
    width: 100%;
    max-width: 70%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#reactvalue{
    position: relative;
    width: 100%;
    max-width: 75%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#javascriptvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#htmlvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#webvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#mongodbvalue{
    position: relative;
    width: 100%;
    max-width: 50%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#algorithmsvalue{
    position: relative;
    width: 100%;
    max-width: 60%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#cssvalue{
    position: relative;
    width: 100%;
    max-width: 90%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#javavalue{
        position: relative;
        width: 100%;
        max-width: 60%;
        height: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: rgb(154, 221, 247);
}
}
@media (max-width:520px) and (min-width:390px) {
    #skills{
        position: relative;
        display: block;
        width: 100%;
        max-width: 100%;
        height: 280px;
        border:none;
        background-color: white;
        border-radius: 5px;
    }
    #skills h1{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: 25%;
        top:5%;
        height: 3%;
        padding-bottom:15px;
        margin:auto;
        font-size: 0.9rem;
        font-weight: 700;
        margin-bottom: 6%;
        color: black;
        border-bottom: 3px solid rgb(19, 89, 241);
}
#skillstext{
    position: relative;
    width: 100%;
    max-width: 55%;
    margin: auto;
    margin-bottom: 15%;
    text-align:center;
    font-size: .9rem;
    color: black;
}
#skillbody{
    position: relative;
    display: flex;
    top:-14%;
    width: 100%;
    max-width: 100%;
    height:65%;
}
.skillcontent{
    position: relative;
    display: block;
    width:100%;
    max-width: 32%;
    margin-left:0.5%;
    margin-right:0.5%;
}
.skillcontent p{
    position: relative;
    font-weight: 600;
    font-size: 0.75rem;
    margin-left:5%;
}
.ratingcontainer{
    position: relative;
    top:-2%;
    width: 100%;
    max-width: 90%;
    height: 4%;
    background-color: rgb(233, 233, 233);
    left:5%;
    border-radius:5px;
}
#nodevalue{
    position: relative;
    width: 100%;
    max-width: 70%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#reactvalue{
    position: relative;
    width: 100%;
    max-width: 75%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#javascriptvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#htmlvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#webvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#mongodbvalue{
    position: relative;
    width: 100%;
    max-width: 50%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#algorithmsvalue{
    position: relative;
    width: 100%;
    max-width: 60%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#cssvalue{
    position: relative;
    width: 100%;
    max-width: 90%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#javavalue{
        position: relative;
        width: 100%;
        max-width: 60%;
        height: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: rgb(154, 221, 247);
}
}
@media (max-width:389px) and (min-width:319px) {
    #skills{
        position: relative;
        display: block;
        width: 100%;
        max-width: 100%;
        height: 280px;
        border:none;
        background-color: white;
        border-radius: 5px;
    }
    #skills h1{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: 25%;
        top:5%;
        height: 3%;
        padding-bottom:15px;
        margin:auto;
        font-size: 0.9rem;
        font-weight: 700;
        margin-bottom: 6%;
        color: black;
        border-bottom: 3px solid rgb(19, 89, 241);
}
#skillstext{
    position: relative;
    width: 100%;
    max-width: 55%;
    margin: auto;
    margin-bottom: 15%;
    text-align:center;
    font-size: .9rem;
    color: black;
}
#skillbody{
    position: relative;
    display: flex;
    top:-14%;
    width: 100%;
    max-width: 100%;
    height:65%;
}
.skillcontent{
    position: relative;
    display: block;
    width:100%;
    max-width: 32%;
    margin-left:0.5%;
    margin-right:0.5%;
}
.skillcontent p{
    position: relative;
    font-weight: 600;
    font-size: 0.75rem;
    margin-left:5%;
}
.ratingcontainer{
    position: relative;
    top:-2%;
    width: 100%;
    max-width: 90%;
    height: 4%;
    background-color: rgb(233, 233, 233);
    left:5%;
    border-radius:5px;
}
#nodevalue{
    position: relative;
    width: 100%;
    max-width: 70%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#reactvalue{
    position: relative;
    width: 100%;
    max-width: 75%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#javascriptvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#htmlvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#webvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#mongodbvalue{
    position: relative;
    width: 100%;
    max-width: 50%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#algorithmsvalue{
    position: relative;
    width: 100%;
    max-width: 60%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#cssvalue{
    position: relative;
    width: 100%;
    max-width: 90%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#javavalue{
        position: relative;
        width: 100%;
        max-width: 60%;
        height: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: rgb(154, 221, 247);
}
}
@media (max-width:320px) and (min-width:280px) {
    #skills{
        position: relative;
        display: block;
        width: 100%;
        max-width: 100%;
        height: 280px;
        border:none;
        background-color: white;
        border-radius: 5px;
    }
    #skills h1{
        position: relative;
        text-align: center;
        width: 100%;
        max-width: 25%;
        top:5%;
        height: 3%;
        padding-bottom:15px;
        margin:auto;
        font-size: 0.9rem;
        font-weight: 700;
        margin-bottom: 6%;
        color: black;
        border-bottom: 3px solid rgb(19, 89, 241);
}
#skillstext{
    position: relative;
    width: 100%;
    max-width: 55%;
    margin: auto;
    margin-bottom: 15%;
    text-align:center;
    font-size: .9rem;
    color: black;
}
#skillbody{
    position: relative;
    display: flex;
    top:-14%;
    width: 100%;
    max-width: 100%;
    height:65%;
}
.skillcontent{
    position: relative;
    display: block;
    width:100%;
    max-width: 32%;
    margin-left:0.5%;
    margin-right:0.5%;
}
.skillcontent p{
    position: relative;
    font-weight: 600;
    font-size: 0.75rem;
    margin-left:5%;
}
.ratingcontainer{
    position: relative;
    top:-2%;
    width: 100%;
    max-width: 90%;
    height: 4%;
    background-color: rgb(233, 233, 233);
    left:5%;
    border-radius:5px;
}
#nodevalue{
    position: relative;
    width: 100%;
    max-width: 70%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#reactvalue{
    position: relative;
    width: 100%;
    max-width: 75%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#javascriptvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#htmlvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#webvalue{
    position: relative;
    width: 100%;
    max-width: 85%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#mongodbvalue{
    position: relative;
    width: 100%;
    max-width: 50%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#algorithmsvalue{
    position: relative;
    width: 100%;
    max-width: 60%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#cssvalue{
    position: relative;
    width: 100%;
    max-width: 90%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(154, 221, 247);
}
#javavalue{
        position: relative;
        width: 100%;
        max-width: 60%;
        height: 100%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: rgb(154, 221, 247);
}
}

