body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: white;
  overflow-y: scroll;
  align-items: center;
  box-sizing: border-box;
  overflow-x: hidden;
}
@media(min-width:1024px){
  #root{
    position: relative;
    display: block;
    width:100%;
    top:-25px;
    max-width: 90%;
    margin: auto;
    height:fit-content;
  }
}
@media (min-width:769px) and (max-width:1024px){
  #root{
    position: relative;
    display: block;
    top:-15px;
    width:100%;
    max-width: 100%;
    margin: auto;
    height:fit-content;
  }
}
@media (max-width:520px) and (min-width:414px){
  #root{
    position: relative;
    display: block;
    top:-15px;
    width:100%;
    max-width: 100%;
    margin: auto;
    height:fit-content;
  }
}

